// DESIGN STYLES

@import 'setup';
@import 'img';


/* Global Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  background: #f2f1ef;
  background-size: contain;
  overflow-x: hidden;
}

// Title Square

@keyframes spin {
  0% {
      transform: skew(5deg, 0deg) rotate3d(1, 1, 1, 0deg) rotate(0deg) scale(.2);
  }
  40% {
    transform: skew(20deg, 0deg) rotate3d(1, 1, 1, 30deg) rotate(80deg) scale(.8);
  }

  90% {
    transform: skew(90deg, 0deg) rotate3d(1, 1, 1, 90deg) rotate(360deg) scale(.3);
  }
  100% {
    transform: skew(5deg, 0deg) rotate3d(1, 1, 1, 360deg) rotate(360deg) scale(.2);
  }
}

@keyframes face {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

@keyframes tilt {
  0% {
      transform: skew(0deg, 0deg);
  }
  50% {
      transform: skew(5deg, 0deg);
  }
  100% {
    transform: skew(0deg, 0deg);
  }
}

@keyframes rise {
  0% {
    transform: skew(0deg, 0deg);
}
50% {
    transform: skew(-3deg, -3deg);
}
100% {
  transform: skew(0deg, 0deg);
}
}

.face {
  animation: face 30s linear infinite;
}

.firstLi {
  overflow: hidden;
}

.title {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}

h1, 
h2 {
  color: #0c36b6;
  font-size: 6vmin;
  width: 0px;
  margin: 0 auto;
  font-family: 'Barlow Condensed', 'arial narrow', helvetica;
  filter: drop-shadow(-3px 2px 0px #ffbc58);
  animation: spin linear 20s infinite;
  padding: 20%;
  position: absolute;
  left: 20%;
  top: 10%;
  text-transform: uppercase;
}

h2 {
left: 0px;
}

.tilt {
  animation: tilt ease-in-out 5s infinite;
}

.rise {
  animation: rise ease-in-out 5s infinite;
}


// Description

.desc {
  color: #f2f1ef;
  transition: .5s .1s;
}

.foot {
  color: #f2f1ef;
  font-size: 16px;
  padding: 3.5vh
}

.description {
  padding-bottom: 100%;
  height: 0;
}

p, h3 {
  color: #0a2b8f;
  font-family: 'Barlow Condensed', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.14vw;
  line-height: 1.4;
  text-transform: uppercase; 
  text-align: justify;
  margin: auto;
}

span {
  font-size: 1vw;
  line-height: 1.2;
  display: block;
  text-transform: none;
}

i {
  z-index: 4;
  color: #0a2b8f;
  font-size: 2vw;
  padding: 2.5%;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.hide {
  opacity: 0;
  transition: .7s ease-in-out;
}

.close {
  color: #f2f1ef;
}

a {
  color: #ffaf38;
  filter: drop-shadow( -2px 0px 0px #3a025365);

}

.cat { 
  text-align: center;
  position: absolute;
  top: 10px;
  width: 100%;
}

.front {
  position: absolute;
  border: 3px red solid;
  height: 50%;
  width: 50%;
  margin: 25%
}

.tite {
  background: #0a2b8f;
  opacity: .8;
}

.box {
  position: relative;
  width: 50%;
  height: 50%;
  margin: 25%;
  border-radius: 50%;
  display: grid;
  background: #0a2b8f;
  img {
    padding: 0px;
    border-radius: 50%;
    grid-area: 1 / 1;
  }
}

.blue {
  background: #0a2b8f;
  opacity: .8;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: .2s ease-in-out;
  z-index: 1;
  grid-area: 1 / 1;
  cursor: pointer;
}

h3 {
  color: #f2f1ef;
  font-size: 2vmax;
  grid-area: 1 / 1;
  z-index: 2;
  text-align: center;
}



// Modules

ul {
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(480px, 1fr));
  grid-template-columns: 1fr 1fr 1fr 1fr;
  align-items: center;
  gap: 5px;
}

li {
  width: 100%;
  height: 100%;
  background: url('../assets/bg7.jpg');
  background-size: cover;
  position: relative;
  border: 1px solid #ffffff;
  img {
    padding: 10%;
    margin: 0 auto;
  }
}

iframe {
  height: 50%;
  width: 100%;
  margin: 5% 0;
}

.over, .overA {
  color: #f2f1ef;
  transition: .2s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  margin: auto;
  filter: drop-shadow( -2px 0px 0px #94949465);
  overflow: scroll;
  background: #051c61d8;
  z-index: 3;
    img {
      padding: 0%;
      margin: 5%;
      width: 90%;
    }
}

.circleImg {
  height: 100%;
}

.show {
  width: 100%;
  transition: .5s ease-out;
  padding: 10%;
}

footer {
  background: #0a2b8f;
  height: 10vh;
}


@media(max-width: 1440px) {

  h3 {
    font-size: 2vmax;
  }
  ul {
    grid-template-columns: 1fr 1fr;
  }
  p {
    font-size: 2.18vw;
    filter: drop-shadow( -2px 0px 1px #94949465);
  }
  i {
    font-size: 2.5vmax;
  }
  .lastLi {
    height: 50vw;
  }
}

@media(max-width: 644px) {
  h3 {
    font-size: 5vw;
  }
  p {
    font-size: 4.4vw;
    filter: drop-shadow( -1px 0px 0px #a1966265);
  }
  i {
    font-size: 5vw;
  }
  ul {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  .lastLi {
    height: 100vw;
  }

  .foot {
    font-size: 12px;
  }

}

@media(max-width: 354px) {
  .foot {
    font-size: 12px;
  }
}
