$green: #ffd8c1;

.design {
  background: linear-gradient(to bottom, #071840 50%, #01536c);
  padding: 50px 0;
  ul {
    width: 85%;
    margin: 0 auto;
    align-content: center;
    li {
      border-bottom: 1px solid #043644;
      display: grid;
      justify-content: center;
      align-content: center;
      padding: 20px;
      margin-top: 64px;
      background-color: #071840;  
      transition: .1s ease-in;
      position: relative;
      &:hover {
        background-color: #043948;
        color: #000;
      }
    }
  }
  h4 {
    padding: 0;
    color: $green;
  }
}


.designBlock2 {
  border-bottom: 1px solid #043644;
  width: 85%;
  color: $green;
  .innerBlock {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 40px;
    h3 {
      color: $green;

    }
  }
}


.contentBox {
  width: 100%;
}

.contentBox {
  display: none;
  overflow: scroll;
}

.grid {
  height: 40vw;
  padding: .2%;
  img {
    height: 100%;
    display: inline-block;
    padding: .7%;
    background-image: url(../assets/diagonal.png);
    background-size: 25vmax
  }
}

.g1 {
  width: 300vw;
  height: 100%;
  display: flex;
  align-items: center;
}

.g2 {
  width: 300vw;
  img {
    padding: .5%;
    }
}

.g3 {
  width: 400vw;

}

.g4 {
  width: 370vmax;
  img {
    padding: 1%;
    }
}


.proj {
  display: inline-block;
  background-image: url(../assets/diagonal.png);
  background-size: 65%;
  margin-right: 20px;
  height: 100%;
  padding: .75%;
  img {
    height: 40vw;
    background-image: none;
    padding: 0;
  }
}



.col {
  color: #fff;
  width: 35vmin;
  margin-left: 2vw;
  background: #071840;
  padding: 25px;
  a {
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px #fff solid;
    text-decoration: none;
    align-items: center;
    &:hover {
      color: $green;
    }
    i {
      padding: 0px 2px 0 12px;
      background: transparent;
      font-size: 1.5rem;
      &:hover {
        color: $green;
      }
    }
  }
  p {
    font-size: 1.6rem;
    }
  }

.start {
  background-image: url(../assets/diagonal.png);
  height: 90px;
  width: 100px;
  display: inline-block;
  padding: 34px 31px;
  color: #fff;
  margin-left: 30px;
  text-align: center;
}

.fa-plus,
.fa-minus {
  padding: 0;
  position: absolute;
  right: 20px;
  top: 25px;
  background: transparent;
  font-size: 2rem;
  transition: .2s;
  color: #498091;
  font-size: 1.3rem;
}