@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}

@keyframes twist {
  0% {
    grid-template-rows: 1.5fr 2fr 2.5fr 3.5fr 5fr 6fr 8fr 11fr 14fr 18fr 22fr 27fr 33fr 39fr 29fr;
  }
  100% {
    grid-template-rows:  39fr 33fr 29fr 27fr 22fr 18fr 14fr 11fr 8fr 6fr 5fr 3.5fr 2.5fr 2fr 14fr;
  }
}

@keyframes glim {
  100% {
  opacity: 0;
}
0% {
  opacity: 1;
}
}

@keyframes colour {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes right {
  0% {
    padding: 22px 22px 22px 22px;
  }
  100% {
    padding: 22px 17px 22px 27px;
  }
}


@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.expand {
  padding: 25px 0;
  font-weight: 600;
  text-transform: uppercase;
  transition: .2s;
}

.capital {
  text-transform: uppercase;
}

// @mixin headingText ($fontSize) {
//   font-family: 'Barlow', Helvetica;
//   font-size: $fontSize;
//   text-decoration: none;
// }