$primaryDark: #1d1d1d;
$primaryAccent: #1742C2;



// Global Layout ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header,
main {
  margin-left: 40vmin;
}

body {
  position: relative;
}


// NAV ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 40vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.979);
  z-index: 10;
  overflow: scroll;
    img {
      width: 66%;
      margin: 15% 0 10px 0;
      animation: spin 60s linear infinite;
    }
    ul {
      text-align: right;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    li {
      margin: 1vmin;
    }
    span {
      display: inline-block;
      height: 1px;
      width: 100%;
      background: linear-gradient(to left, #e4e4e4, #e7e7e7);
      margin: 20px 0 15px 0;
    }
  }



li a {
  color: $primaryDark;
  font-weight: 400;
  font-size: 1.5vmax;
  text-decoration: none;
  padding: 20px 2px 20px 10px;
  &:hover {
    text-transform: uppercase;
  }
}


// sections ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


header {
  height: 100vh;
  background: white;
  position: relative;
  z-index: 2;
  @include flex;
  div {
    width: 40vmin;
    opacity: 0;
    animation: fadeIn 1.5s ease-in forwards;
  }
  img {
    height: 40vmin;
    border-radius: 3px;
  }
}

section {
  padding: 100px 0 200px 40px;
}


// BIO ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.wave {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  margin-left: 40vmin;
  background-image: url(../assets/wave.jpg);
  animation: scale 120s ease-out alternate infinite, colour 10s ease-out alternate infinite;
}

.biography {
  position: relative;
  margin-left: 40vmin;
  z-index: 2;
  // background: linear-gradient(to top, rgb(255, 255, 255), rgba(0, 0, 0, 0));

}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.resume {
  // height: 150vh;
  // background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  background: $primaryAccent;
}

.design {
  height: 100vh;
  background: #fff;
}
  
main {
  position: relative;
}
  
.options {
  width: 90%;
  margin: 0 auto;
  ul {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    // margin: 2%;
    min-height: 80px;
  li {
    text-align: center;
    align-items: center;
    display: grid;
    background: $primaryAccent;
    font-size: 1.9rem;
    height: 100%;
    width: 100%;
    padding: 20px;
    transition: .2s;
    border: 2px solid #fff;
    color: #fff;
    &:hover {
      background: black;
      color: #fff;
    }
  }
  }
}

.block { 
  background: #fff;
  padding: 20px 40px 20px 20px;
  margin: 20px 0px 20px 20px;
  margin-right: 0px;
}

.innerBlock {
  display: flex;
  width: 100%;
}

.year,
.name,
.year3 {
    color: #fff;
    background: #000;
    padding: 20px;
    display: flex;
    align-items: center;
}

.year3 {
  color: #000;
  background: #fff;
}


.year1 {
  margin-right: 50px;
}

.name {
  width: 400px;
}



.bioBlock,
.resBlock {
  padding: 0;
  background: white;
  margin: 20px 20px 20px 0px;
  p {
    padding: 20px;
  }
}



.resBlock {
  background: $primaryAccent;
  color: #fff;
  display: flex;
  margin: 50px 20px 30px 0px;
  p {
    width: 70%;
    padding: 0 0 0 3.3%;
    text-align: justify;
  }
}


.bioBlock2,
.resBlock2 {
  padding: 0;
  background: #000;
  p {
    padding: 20px;
    color: #fff;
  }
}

.bioBlock2 .year,
.bioBlock2 {
  color: #fff;
  background: $primaryAccent;
  margin: 0;
  padding: 25px;
}



.bioBlock2 {
  margin-bottom: 75px;
  padding: 10px 0;
  width: 100%;
}



.year3 {
  width: 33%;
}





