

footer {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #d6d7d8, #6e76e2);
  
}
.momo {
  height: 100%;
  padding: 20vh 0;
  background-image: linear-gradient(to bottom, #01526b, #08576f00), url(../assets/diagonal.png);
}

.moreBlock {
  background: #fff;
  width: 61.2%;
  margin: 0 auto;
  padding: 25px;
  color: $primaryAccent;
  margin-bottom: 50px;
  p {
    margin: 0 0 0 15px;
  }
  } 
  
footer .innerBlock {
  justify-content: space-around;
  align-items: center;
}

.links {
 width: 61.2%;
 margin: 10vh auto 20vh auto;
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
 gap: 3vw 1vw;
 justify-content: center;
 justify-items: center;
 
  p {
    padding: 0 15px;
    font-size: 1.4rem;
  }
  i, p {
    text-decoration: none;
    text-align: center;
    background: $primaryAccent;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  &:hover {
    color: rgb(71, 179, 71);
    animation: colour 2s ease-out infinite;
    background-color: #fff;
  }
}
 }
}

.link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vmax;
  color: #fff;
  a {
    width: 100%;
    height: 10vmax;
    max-width: 150px;
    max-height: 150px;
    text-decoration: none;
 i {
     font-size: 4vmax;
     padding: 0;
     width: 100%;
     height: 100%;
   }
  p {
    padding: 10px;
    color: #fff;
    font-size: 1.4rem;
    text-align: center;
  }
}

.hidden {
  display: none;
}