.writing {
  position: relative;
  background-color: #071841;
  padding: 40px 0;
}

.blog {
  background: #fff;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 15vmax;
  left: calc(50% - 100px);
  filter: drop-shadow(0px 2px 9px #3a3a3a7e);
  pointer-events: all;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #1742c2;
  transition: .2s ease-out;
    &:hover, &:focus {
      background: #73E22D;
    }
  p:first-child{
    font-size: 1.4rem;
    padding-bottom: 10px;
  }
  p {
    text-align: center;
    width: 150px;
    pointer-events: none;
  }
}

.writingBlocks{
  position: relative;
  top: 30vw;
  padding-top: 10vw;
}

.dots {
  background-image: linear-gradient(to bottom, #1742c200 0%, #05111200 85%, #071840), url(../assets/dots.jpg);
  height: 0;
  background-size: 100%;
  background-repeat: repeat-x;
  background-color: #071840;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
  padding-bottom: 140%;
}

.writingBlock,
.writingBlock2,
.designBlock2 {
  width: 70%;
  margin: 1vw auto 0 auto;
  padding: 10px 20px;
  color: #fff;
  border-bottom: 1px solid #73E22D;
  i {
    font-size: 1.5rem;
    background: transparent;
  }
  .year {
    background-color: transparent;
    padding: 40px 40px 40px 0;
  }
  span {
    font-size: 1rem;
  }
}

.designBlock2:hover {
  background: #071840EB;
}

.writingBlock2 {
  padding: 25px;
  // margin-top: 90%;
  text-align: justify;
  background: #071840EB;

}

.i {
  font-style: italic;
}

h5 {
  font-style: italic;
  line-height: 1.7;
  background: #071840EB;
  padding: 1vw;
}

.writingBlock {
  padding: 0px;
  text-align: center;
  .pub {
    padding: 1vw 1vw 2vw 1vw;
    background: #071840EB;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transition: .1s;
    margin: 0 auto;
    &:hover{
      color: #071840;
      background: #73E22D;
    }
    i{
      padding: 0 0 0 15px;
      color: #73E22D;
    }
  }
}

.glimmer {
  span {
    border-bottom: 1px solid #9de22d;
    display: block;
    margin: 0 auto;
    width: 70%;
    transition: .6s;
  }
  span:first-child {
    opacity: .3;
    border-bottom: 1px solid #ffe2c1;
    animation: glim 3s ease-out 1s alternate-reverse infinite;
  }
  span:nth-child(2) {
    opacity: .4;
    border-bottom: 1px solid #ffe2c1;
    animation: glim 2.9s ease-out 1.1s alternate-reverse infinite;
  }
  span:nth-child(3) {
    opacity: .5;
    border-bottom: 1px solid #fdd4a5 ;
    animation: glim 2.8s ease-out 1.2s alternate-reverse infinite;
  }
  span:nth-child(4) {
    opacity: .6;
    border-bottom: 1px solid #fdc98e;
    animation: glim 2.7s ease-out 1.3s alternate-reverse infinite;
  }
  span:nth-child(5) {
    opacity: .7;
    border-bottom: 1px solid #ffba6c ;
    animation: glim 2.6s ease-out 1.4s alternate-reverse infinite;
  }
  span:nth-child(6) {
    opacity: .8;
    border-bottom: 1px solid #ebb644 ;
    animation: glim 2.5s ease-out 1.5s alternate-reverse infinite;
  }
  span:nth-child(7) {
    opacity: .9;
    border-bottom: 1px solid #e2b82d;
    animation: glim 2.4s ease-out 1.6s alternate-reverse infinite;
  }
  span:nth-child(8) {
    border-bottom: 1px solid #e2d02d;
    animation: glim 2.3s ease-out 1.7s alternate-reverse infinite;
  }
  span:nth-child(9) {
    border-bottom: 1px solid #dfe22d;
    animation: glim 2.2s ease-out 1.8s alternate-reverse infinite;
  }
  span:nth-child(10) {
    border-bottom: 1px solid #d0e22d;
    animation: glim 2.1s ease-out 1.9s alternate-reverse infinite;
  }
  span:nth-child(11) {
    border-bottom: 1px solid #c1e22d;
    animation: glim 2s ease-out 2s alternate-reverse infinite;
  }
  span:nth-child(12) {
    border-bottom: 1px solid #ace22d;
    animation: glim 1.9s ease-out 2.1s alternate-reverse infinite;
  }
  span:nth-child(13) {
    border-bottom: 1px solid #a3e22d;
    animation: glim 1.8s ease-out 2.2s alternate-reverse infinite;
  }
  span:nth-child(14) {
    border-bottom: 1px solid #94e22d;
    animation: glim 1.7s ease-out 2.3s alternate-reverse infinite;
  }
  span:nth-child(15) {
    border-bottom: 1px solid #73e22d;
    animation: glim 1.6s ease-out 2.4s infinite alternate-reverse;
  }
}

.lines {
  display: grid;
  margin: 0 auto;
  grid-template-rows: 1.5fr 2fr 2.5fr 3.5fr 5fr 6fr 8fr 11fr 14fr 18fr 22fr 27fr 33fr 39fr 29fr;
  height: 70vh;
  transform: rotate(180deg);
}