a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@-webkit-keyframes twist {
  0% {
    grid-template-rows: 1.5fr 2fr 2.5fr 3.5fr 5fr 6fr 8fr 11fr 14fr 18fr 22fr 27fr 33fr 39fr 29fr;
  }
  100% {
    grid-template-rows: 39fr 33fr 29fr 27fr 22fr 18fr 14fr 11fr 8fr 6fr 5fr 3.5fr 2.5fr 2fr 14fr;
  }
}

@keyframes twist {
  0% {
    -ms-grid-rows: 1.5fr 2fr 2.5fr 3.5fr 5fr 6fr 8fr 11fr 14fr 18fr 22fr 27fr 33fr 39fr 29fr;
        grid-template-rows: 1.5fr 2fr 2.5fr 3.5fr 5fr 6fr 8fr 11fr 14fr 18fr 22fr 27fr 33fr 39fr 29fr;
  }
  100% {
    -ms-grid-rows: 39fr 33fr 29fr 27fr 22fr 18fr 14fr 11fr 8fr 6fr 5fr 3.5fr 2.5fr 2fr 14fr;
        grid-template-rows: 39fr 33fr 29fr 27fr 22fr 18fr 14fr 11fr 8fr 6fr 5fr 3.5fr 2.5fr 2fr 14fr;
  }
}

@-webkit-keyframes glim {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

@keyframes glim {
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
}

@-webkit-keyframes colour {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes colour {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes right {
  0% {
    padding: 22px 22px 22px 22px;
  }
  100% {
    padding: 22px 17px 22px 27px;
  }
}

@keyframes right {
  0% {
    padding: 22px 22px 22px 22px;
  }
  100% {
    padding: 22px 17px 22px 27px;
  }
}

.expand {
  padding: 25px 0;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
}

.capital {
  text-transform: uppercase;
}

.wave {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  margin-left: 40vmin;
  background-image: url(../assets/wave.jpg);
  background-size: 40%;
  -webkit-animation: scale 120s ease-out alternate infinite, colour 10s ease-out alternate infinite;
          animation: scale 120s ease-out alternate infinite, colour 10s ease-out alternate infinite;
}

.biography {
  position: relative;
  margin-left: 40vmin;
  z-index: 2;
}

.bioBlock {
  padding: 0;
  background: white;
  margin: 20px 20px 20px 0px;
}

.bioBlock p {
  padding: 20px;
}

.scrollBlock {
  background: #fff;
  color: #1742c2;
  padding: 0px 0px 1px 20px;
  margin-right: 15px;
}

.scrollBlock i {
  padding: 22px;
  background: transparent;
  color: #1742c2;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bioBlock,
.scrollBlock {
  display: inline-block;
}

.bioBlock button {
  padding: 0;
}

.bioBlock2 {
  padding: 0;
  background: #000;
}

.bioBlock2 p {
  padding: 20px;
  color: #fff;
}

.bioBlock2 .year,
.bioBlock2,
.resBlock2 {
  color: #fff;
  background: #1742c2;
  margin: 0;
  padding: 25px;
}

.bioBlock2,
.resBlock2 {
  margin: 50px 0;
  padding: 10px 0;
}

.year3 {
  width: 33%;
}

.degree {
  width: 15%;
  min-width: 140px;
}

.horiz {
  height: 120px;
  border-bottom: 5px solid #fff;
  overflow: scroll;
}

.innerH {
  width: 8060px;
}

main {
  position: relative;
}

.resume {
  background: #1742c2;
  padding-bottom: 1px;
}

.resOptions {
  margin-bottom: 25px;
}

.resBlock,
.trainBlock {
  padding: 0;
  background: #1742c2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 20px 40px 0px;
}

.resBlock2 {
  text-align: justify;
}

.resBlock p {
  width: 70%;
  padding: 0 0 0 3.3%;
  text-align: justify;
}

.trainBlock .innerBlock {
  background: #1742c2;
}

.trainBlock,
.skillBlock {
  width: 100%;
  padding: 0;
  background: #fff;
  margin: 40px 20px 40px 0px;
}

.trainBlock span,
.skillBlock span {
  width: 50%;
}

.trainBlock p,
.skillBlock p {
  width: 50%;
  text-align: right;
  padding: 0 20px;
  color: #fff;
}

h4 {
  color: #fff;
  font-size: 1.7rem;
  padding: 15px 0 5px 0;
}

.wrapper {
  width: 96%;
  margin: 0 auto;
  padding-right: 2%;
}

.resOptions {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
  min-height: 80px;
}

.resOptions li {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  background: #1742c2;
  font-size: 1.7rem;
  height: 100%;
  width: 100%;
  border: 2px solid #fff;
  color: #fff;
}

.resBody {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.fade {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.right {
  text-align: right;
  margin-top: -30px;
}

.skillBlock .innerBlock {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillBlock span {
  width: 100%;
}

.skillBlock p {
  width: 100%;
  text-align: left;
}

.skill {
  color: #1742c2;
  background: #fff;
  padding: 10px 20px;
  margin-top: 50px;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 40px;
  margin: 20px 0;
}

.skills li {
  width: 100%;
  height: 100%;
  border: none;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.skills {
  -ms-grid-columns: (minmax(110px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  gap: 20px;
}

.writing {
  position: relative;
  background-color: #071841;
  padding: 40px 0;
}

.writingBlocks {
  position: relative;
  top: 30vw;
  padding-top: 10vw;
}

.dots {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#1742c200), color-stop(85%, #05111200), to(#071840)), url(../assets/dots.jpg);
  background-image: linear-gradient(to bottom, #1742c200 0%, #05111200 85%, #071840), url(../assets/dots.jpg);
  height: 0;
  background-size: 100%;
  background-repeat: repeat-x;
  background-color: #071840;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
  padding-bottom: 140%;
}

.writingBlock,
.writingBlock2,
.designBlock2 {
  width: 70%;
  margin: 1vw auto 0 auto;
  padding: 10px 20px;
  color: #fff;
  border-bottom: 1px solid #73E22D;
}

.writingBlock i,
.writingBlock2 i,
.designBlock2 i {
  font-size: 1.5rem;
  background: transparent;
}

.writingBlock .year,
.writingBlock2 .year,
.designBlock2 .year {
  background-color: transparent;
  padding: 40px 40px 40px 0;
}

.writingBlock span,
.writingBlock2 span,
.designBlock2 span {
  font-size: 1rem;
}

.designBlock2:hover {
  background: #071840EB;
}

.writingBlock2 {
  padding: 25px;
  text-align: justify;
  background: #071840EB;
}

.i {
  font-style: italic;
}

h5 {
  font-style: italic;
  line-height: 1.7;
  background: #071840EB;
  padding: 1vw;
}

.writingBlock {
  padding: 0px;
  text-align: center;
}

.writingBlock .pub {
  padding: 1vw 1vw 2vw 1vw;
  background: #071840EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transition: .1s;
  transition: .1s;
  margin: 0 auto;
}

.writingBlock .pub:hover {
  color: #071840;
  background: #73E22D;
}

.writingBlock .pub i {
  padding: 0 0 0 15px;
  color: #73E22D;
}

.glimmer span {
  border-bottom: 1px solid #9de22d;
  display: block;
  margin: 0 auto;
  width: 70%;
  -webkit-transition: .6s;
  transition: .6s;
}

.glimmer span:first-child {
  opacity: .3;
  border-bottom: 1px solid #ffe2c1;
  animation: glim 3s ease-out 1s alternate-reverse infinite;
}

.glimmer span:nth-child(2) {
  opacity: .4;
  border-bottom: 1px solid #ffe2c1;
  animation: glim 2.9s ease-out 1.1s alternate-reverse infinite;
}

.glimmer span:nth-child(3) {
  opacity: .5;
  border-bottom: 1px solid #fdd4a5;
  animation: glim 2.8s ease-out 1.2s alternate-reverse infinite;
}

.glimmer span:nth-child(4) {
  opacity: .6;
  border-bottom: 1px solid #fdc98e;
  animation: glim 2.7s ease-out 1.3s alternate-reverse infinite;
}

.glimmer span:nth-child(5) {
  opacity: .7;
  border-bottom: 1px solid #ffba6c;
  animation: glim 2.6s ease-out 1.4s alternate-reverse infinite;
}

.glimmer span:nth-child(6) {
  opacity: .8;
  border-bottom: 1px solid #ebb644;
  animation: glim 2.5s ease-out 1.5s alternate-reverse infinite;
}

.glimmer span:nth-child(7) {
  opacity: .9;
  border-bottom: 1px solid #e2b82d;
  animation: glim 2.4s ease-out 1.6s alternate-reverse infinite;
}

.glimmer span:nth-child(8) {
  border-bottom: 1px solid #e2d02d;
  animation: glim 2.3s ease-out 1.7s alternate-reverse infinite;
}

.glimmer span:nth-child(9) {
  border-bottom: 1px solid #dfe22d;
  animation: glim 2.2s ease-out 1.8s alternate-reverse infinite;
}

.glimmer span:nth-child(10) {
  border-bottom: 1px solid #d0e22d;
  animation: glim 2.1s ease-out 1.9s alternate-reverse infinite;
}

.glimmer span:nth-child(11) {
  border-bottom: 1px solid #c1e22d;
  animation: glim 2s ease-out 2s alternate-reverse infinite;
}

.glimmer span:nth-child(12) {
  border-bottom: 1px solid #ace22d;
  animation: glim 1.9s ease-out 2.1s alternate-reverse infinite;
}

.glimmer span:nth-child(13) {
  border-bottom: 1px solid #a3e22d;
  animation: glim 1.8s ease-out 2.2s alternate-reverse infinite;
}

.glimmer span:nth-child(14) {
  border-bottom: 1px solid #94e22d;
  animation: glim 1.7s ease-out 2.3s alternate-reverse infinite;
}

.glimmer span:nth-child(15) {
  border-bottom: 1px solid #73e22d;
  animation: glim 1.6s ease-out 2.4s infinite alternate-reverse;
}

.lines {
  display: -ms-grid;
  display: grid;
  margin: 0 auto;
  -ms-grid-rows: 1.5fr 2fr 2.5fr 3.5fr 5fr 6fr 8fr 11fr 14fr 18fr 22fr 27fr 33fr 39fr 29fr;
      grid-template-rows: 1.5fr 2fr 2.5fr 3.5fr 5fr 6fr 8fr 11fr 14fr 18fr 22fr 27fr 33fr 39fr 29fr;
  height: 70vh;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.design {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #071840), to(#01536c));
  background: linear-gradient(to bottom, #071840 50%, #01536c);
  padding: 50px 0;
}

.design ul {
  width: 85%;
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.design ul li {
  border-bottom: 1px solid #043644;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  margin-top: 64px;
  background-color: #071840;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
  position: relative;
}

.design ul li:hover {
  background-color: #043948;
  color: #000;
}

.design h4 {
  padding: 0;
  color: #ffd8c1;
}

.designBlock2 {
  border-bottom: 1px solid #043644;
  width: 85%;
  color: #ffd8c1;
}

.designBlock2 .innerBlock {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.designBlock2 .innerBlock h3 {
  color: #ffd8c1;
}

.contentBox {
  width: 100%;
}

.contentBox {
  display: none;
  overflow: scroll;
}

.grid {
  height: 40vw;
  padding: .2%;
}

.grid img {
  height: 100%;
  display: inline-block;
  padding: .7%;
  background-image: url(../assets/diagonal.png);
  background-size: 25vmax;
}

.g1 {
  width: 400vw;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.g2 {
  width: 586vw;
}

.g2 img {
  padding: .5%;
}

.g3 {
  width: 431vw;
}

.g4 {
  width: 370vmax;
}

.g4 img {
  padding: 1%;
}

.proj {
  display: inline-block;
  background-image: url(../assets/diagonal.png);
  background-size: 65%;
  margin-right: 20px;
  height: 100%;
  padding: .75%;
}

.proj img {
  height: 40vw;
  background-image: none;
  padding: 0;
}

.col {
  color: #fff;
  width: 35vmin;
  margin-left: 2vw;
  background: #071840;
  padding: 25px;
}

.col a {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px #fff solid;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.col a:hover {
  color: #ffd8c1;
}

.col a i {
  padding: 0px 2px 0 12px;
  background: transparent;
  font-size: 1.5rem;
}

.col a i:hover {
  color: #ffd8c1;
}

.col p {
  font-size: 1.6rem;
}

.start {
  background-image: url(../assets/diagonal.png);
  height: 90px;
  width: 100px;
  display: inline-block;
  padding: 34px 31px;
  color: #fff;
  margin-left: 30px;
  text-align: center;
}

.fa-plus,
.fa-minus {
  padding: 0;
  position: absolute;
  right: 20px;
  top: 25px;
  background: transparent;
  font-size: 2rem;
  -webkit-transition: .2s;
  transition: .2s;
  color: #498091;
  font-size: 1.3rem;
}

footer {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d6d7d8), to(#6e76e2));
  background-image: linear-gradient(to bottom, #d6d7d8, #6e76e2);
}

.momo {
  height: 100%;
  padding: 20vh 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#01526b), to(#08576f00)), url(../assets/diagonal.png);
  background-image: linear-gradient(to bottom, #01526b, #08576f00), url(../assets/diagonal.png);
}

.moreBlock {
  background: #fff;
  width: 61.2%;
  margin: 0 auto;
  padding: 25px;
  color: #1742c2;
  margin-bottom: 50px;
}

.moreBlock p {
  margin: 0 0 0 15px;
}

footer .innerBlock {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links {
  width: 61.2%;
  margin: 10vh auto 20vh auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(140px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 3vw 1vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
}

.links i, .links p {
  text-decoration: none;
  text-align: center;
  background: #1742c2;
  color: #fff;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.links p {
  padding: 15px;
  font-size: 1.4rem;
  background: transparent;
}

.links i:hover {
  color: #47b347;
  -webkit-animation: colour 2s ease-out infinite;
          animation: colour 2s ease-out infinite;
  background-color: #fff;
}

.link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 10vmax;
  color: #fff;
}

.link a {
  width: 100%;
  height: 10vmax;
  max-width: 150px;
  max-height: 150px;
  text-decoration: none;
}

.link a i {
  font-size: 4vmax;
  padding: 0;
  width: 100%;
  height: 100%;
}

.link a p {
  padding: 10px;
  color: #fff;
  font-size: 1.4rem;
  text-align: center;
}

.hidden {
  display: none;
}

/* Global Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Barlow', Helvetica, sans-serif;
  text-decoration: none;
}

*,
.bioBlock,
.bioBlock2,
.icon,
.scrollBlock,
.moreBlock {
  font-size: 1.7rem;
  line-height: 1.3;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

header,
main {
  margin-left: 40vmin;
}

body {
  position: relative;
}

section {
  padding: 100px 25px 200px 50px;
}

button {
  background: none;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
  color: #fff;
  width: 100%;
  height: 100%;
  font-family: 'Barlow';
}

button:hover {
  background: #fff;
  color: #000;
}

.block {
  background: #fff;
  padding: 20px 40px 20px 20px;
  margin: 20px 0px 20px 20px;
  margin-right: 0px;
}

.innerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.year,
.name,
.year3,
.degree,
.training,
i {
  color: #fff;
  background: #1742c2;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.year3,
.degree,
.training {
  color: #000;
  background: #fff;
}

h1 {
  color: #1742c2;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px 0 30px 0;
  text-align: center;
}

h2 {
  font-size: 2.5rem;
  margin: 10px 0;
  line-height: 1.2;
  text-align: justify;
  color: #1742c2;
  font-weight: 600;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 40vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.979);
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav img {
  width: 60%;
  margin: 0 0 25px 0;
  -webkit-animation: spin 60s linear infinite;
          animation: spin 60s linear infinite;
}

nav ul {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  margin: 1vmin;
  -webkit-transition: .2s;
  transition: .2s;
}

nav span {
  display: inline-block;
  height: 1px;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#e4e4e4), to(#e7e7e7));
  background: linear-gradient(to left, #e4e4e4, #e7e7e7);
  margin: 20px 0 15px 0;
}

li a {
  color: #000;
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
  padding: 20px 2px 20px 10px;
}

li a:hover {
  text-transform: uppercase;
}

header {
  height: 100vh;
  background: white;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header div {
  width: 40vmin;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-in forwards;
          animation: fadeIn 1.5s ease-in forwards;
  padding-top: 10vmin;
}

header img {
  width: 100%;
  border-radius: 3px;
}

p {
  widows: 3;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.foot {
  width: 100%;
  color: #fff;
}

@media (max-width: 800px) {
  *,
  .bioBlock,
  .bioBlock2,
  .icon,
  .scrollBlock {
    font-size: 1.6rem;
  }
  nav {
    width: 28vmin;
  }
  h1 {
    font-size: 2.3rem;
  }
  .wave,
  .biography,
  header,
  main {
    margin-left: 28vmin;
  }
  .innerH {
    width: 7720px;
  }
  section {
    padding: 100px 25px 200px 25px;
  }
  .resBlock,
  .trainBlock {
    margin: 20px 20px 20px 0px;
  }
  .writingBlock,
  .writingBlock2 {
    width: 83%;
  }
  .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .g1 {
    width: 370vw;
  }
  .g2 {
    width: 600vw;
  }
  .g3 {
    width: 443vw;
  }
  .g4 {
    width: 380vw;
  }
  .col {
    width: 50vw;
    margin: 20px 0 0 0;
  }
  .lines span {
    width: 83%;
  }
  .links {
    -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@media (max-width: 500px) {
  nav {
    width: 100%;
    position: relative;
    top: 0;
    padding: 12.5%;
    height: 95vh;
  }
  nav li {
    margin: .5vmin;
  }
  nav li a {
    text-decoration: none;
    padding: 15px 2px 15px 10px;
  }
  nav img {
    margin-bottom: 15px;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 1.3;
  }
  header div {
    width: 60vmin;
    padding-top: 0;
    padding-bottom: 10vmin;
  }
  header,
  main,
  section,
  .biography,
  .wave {
    margin-left: 0;
  }
  section {
    padding: 50px 15px 100px 25px;
  }
  .wave {
    background-size: 100%;
  }
  .innerBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bioBlock .innerBlock,
  .scrollBlock .innerBlock {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .bioBlock2 .innerBlock {
    padding: 0;
  }
  .bioBlock2 .innerBlock p {
    padding: 20px 40px;
    text-align: justify;
  }
  .bioBlock2 .innerBlock h3 {
    padding: 50px 0 20px 0;
  }
  .resBlock2 .year {
    padding: 0 0 40px 0;
  }
  .resBlock2 p {
    padding: 0;
    width: 95%;
    text-align: justify;
  }
  .year3,
  .degree {
    width: 100%;
    margin: 10px 0;
  }
  .degree {
    margin: 5px 0;
  }
  .innerH {
    width: 7390px;
  }
  *,
  .bioBlock,
  .bioBlock2,
  .icon,
  .scrollBlock {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  h3,
  h4,
  .right {
    text-align: center;
    width: auto;
    text-align: center;
  }
  .right {
    margin-top: 15px;
  }
  .resBlock {
    margin: 20px 0;
  }
  .resBlock p {
    width: 100%;
    padding: 5px 0 0 0;
    text-align: left;
  }
  .resOptions {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 50px 50px 50px;
        grid-template-rows: 50px 50px 50px;
    gap: 15px;
  }
  .resOptions li {
    font-size: 1.5rem;
  }
  .name,
  .year3,
  .degree,
  .training,
  i {
    padding: 10px;
  }
  .trainBlock,
  .skillBlock {
    margin: 20px 0;
  }
  .trainBlock span,
  .skillBlock span {
    width: 100%;
  }
  .trainBlock p,
  .skillBlock p {
    width: 100%;
    text-align: right;
    padding: 10px 0;
    background: #1742c2;
    color: #fff;
  }
  .trainBlock p {
    padding: 10px 0px 10px 0%;
  }
  .dots {
    background-size: 100%;
  }
  .writing {
    min-height: 1350px;
  }
  .writingBlock,
  .writingBlock2 {
    width: 88%;
  }
  .writingBlock {
    padding: 20px 14px;
    widows: 4;
  }
  .writingBlock2 {
    margin-top: 180px;
  }
  .writingBlock2 p {
    text-align: justify;
  }
  .lines span {
    width: 88%;
  }
  .designBlock2 {
    width: 87%;
    padding: 10px 0;
    text-align: justify;
  }
  .writingBlock2 .year,
  .designBlock2 .year {
    padding: 30px 0 40px 0;
  }
  .design {
    padding: 10vwpx 0 50px 0;
  }
  .design ul {
    width: 98%;
    margin: 0 auto;
  }
  .design ul li {
    width: 95%;
    margin: 64px auto 0 auto;
  }
  .design .grid {
    height: 102vw;
  }
  .design .g1 {
    height: 100%;
    width: 610vw;
  }
  .design .proj img {
    height: 70vw;
  }
  .design .g2 {
    width: 1490vw;
  }
  .design .g3 {
    width: 1096vw;
  }
  .design .g4 {
    width: 934vw;
  }
  .design a .h {
    padding: 1.2%;
  }
  .design a .h2 {
    padding: 30px;
  }
  .design .col {
    width: 80vw;
  }
  .links a {
    width: 20vw;
    height: 20vw;
  }
  .links p {
    padding: 10px;
  }
  .moreBlock p {
    margin: 15px 0 0 10px;
  }
}
/*# sourceMappingURL=styles.css.map */