@import 'setup';
@import 'keyframes-mixins';
@import 'layout';
@import 'typography';
@import 'mediaQueries';

/* Global Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
