a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@-webkit-keyframes colour {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
  }
}

@keyframes colour {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes right {
  0% {
    padding: 22px 22px 22px 22px;
  }
  100% {
    padding: 22px 17px 22px 27px;
  }
}

@keyframes right {
  0% {
    padding: 22px 22px 22px 22px;
  }
  100% {
    padding: 22px 17px 22px 27px;
  }
}

.expand {
  padding: 25px 0;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
}

.capital {
  text-transform: uppercase;
}

.wave {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  margin-left: 40vmin;
  background-image: url(../assets/wave.jpg);
  background-size: 40%;
  -webkit-animation: scale 120s ease-out alternate infinite, colour 10s ease-out alternate infinite;
          animation: scale 120s ease-out alternate infinite, colour 10s ease-out alternate infinite;
}

.biography {
  position: relative;
  margin-left: 40vmin;
  z-index: 2;
}

.bioBlock {
  padding: 0;
  background: white;
  margin: 20px 20px 20px 0px;
}

.bioBlock p {
  padding: 20px;
}

.scrollBlock {
  background: transparent;
  color: #1742C2;
}

.scrollBlock i {
  padding: 22px;
  background: transparent;
  color: #1742C2;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bioBlock,
.scrollBlock {
  display: inline-block;
}

.bioBlock2 {
  padding: 0;
  background: #000;
}

.bioBlock2 p {
  padding: 20px;
  color: #fff;
}

.bioBlock2 .year,
.bioBlock2,
.resBlock2 {
  color: #fff;
  background: #1742C2;
  margin: 0;
  padding: 25px;
}

.bioBlock2,
.resBlock2 {
  margin: 50px 0;
  padding: 10px 0;
}

.year3 {
  width: 33%;
}

.degree {
  width: 15%;
  min-width: 140px;
}

.horiz {
  height: 120px;
  border-bottom: 5px solid #fff;
  overflow: scroll;
}

.innerH {
  width: 7300px;
}

main {
  position: relative;
}

.resume {
  background: #1742C2;
  padding-bottom: 100px;
}

.resOptions {
  margin-bottom: 25px;
}

.resBlock,
.trainBlock {
  padding: 0;
  background: #1742C2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 20px 40px 0px;
}

.resBlock2 {
  text-align: justify;
}

.resBlock p {
  width: 70%;
  padding: 0 0 0 3.3%;
  text-align: justify;
}

.trainBlock .innerBlock {
  background: #1742C2;
}

.trainBlock,
.skillBlock {
  width: 100%;
  padding: 0;
  background: #fff;
  margin: 40px 20px 40px 0px;
}

.trainBlock span,
.skillBlock span {
  width: 50%;
}

.trainBlock p,
.skillBlock p {
  width: 50%;
  text-align: right;
  padding: 0 20px;
  background: #1742C2;
  color: #fff;
}

h4 {
  color: #fff;
  font-size: 1.7rem;
  padding: 15px 0 5px 0;
}

.wrapper {
  width: 96%;
  margin: 0 auto;
  padding-right: 2%;
}

.resOptions {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
  min-height: 80px;
}

.resOptions li {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  background: #1742C2;
  font-size: 1.7rem;
  height: 100%;
  width: 100%;
  border: 2px solid #fff;
  color: #fff;
}

.resBody {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.fade {
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
}

.right {
  text-align: right;
  margin-top: -30px;
}

.skillBlock .innerBlock {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skillBlock span {
  width: 100%;
}

.skillBlock p {
  width: 100%;
  text-align: left;
}

.skill {
  color: #1742C2;
  background: #fff;
  padding: 10px 20px;
  margin-top: 50px;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 40px;
  margin: 20px 0;
}

.skills li {
  width: 100%;
  height: 100%;
  border: none;
  text-align: left;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.skills {
  -ms-grid-columns: (minmax(100px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}

.writing {
  position: relative;
  min-height: 1600px;
  background-color: #0a0f0d;
}

.dots {
  background-image: url(../assets/dots.jpg);
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #0a0f0d;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
}

.writingBlock,
.writingBlock2,
.designBlock2 {
  background: #1742C2;
  background: #0A100EEB;
  width: 70%;
  margin: 0 auto 4vw auto;
  padding: 10px 20px;
  color: #fff;
}

.writingBlock a, .writingBlock i,
.writingBlock2 a,
.writingBlock2 i,
.designBlock2 a,
.designBlock2 i {
  color: #fff;
  -webkit-transition: .15s ease-in;
  transition: .15s ease-in;
}

.writingBlock a:hover, .writingBlock i:hover,
.writingBlock2 a:hover,
.writingBlock2 i:hover,
.designBlock2 a:hover,
.designBlock2 i:hover {
  color: #5eee3a;
}

.writingBlock i,
.writingBlock2 i,
.designBlock2 i {
  font-size: 1.7rem;
  padding: 0;
  background: transparent;
}

.writingBlock .year,
.writingBlock2 .year,
.designBlock2 .year {
  background-color: transparent;
  padding: 40px 40px 40px 0;
}

.writingBlock2 {
  padding: 25px;
  margin-top: 250px;
  text-align: justify;
}

.i {
  font-style: italic;
}

h5 {
  font-style: italic;
}

.writingBlock {
  padding: 15px;
  text-align: center;
}

.pub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5px;
}

.pub p {
  padding-right: 15px;
}

.design {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0A100E), to(#01536c));
  background: linear-gradient(to bottom, #0A100E 50%, #01536c);
  padding: 200px 0;
}

.design ul {
  width: 85%;
  margin: 0 auto;
  -ms-flex-line-pack: center;
      align-content: center;
}

.design ul li {
  border-bottom: 1px solid #043644;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px;
  margin-top: 64px;
  background-color: #0A100E;
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
  position: relative;
}

.design ul li:hover {
  background-color: #043948;
  color: #000;
}

.design h4 {
  padding: 0;
}

.contentBox {
  width: 100%;
}

.contentBox {
  display: none;
  overflow: scroll;
}

.g3 {
  width: 500vw;
}

.g4 {
  width: 370vmax;
}

.grid {
  height: 40vw;
  padding: 20px;
}

.grid img {
  height: 100%;
  display: inline-block;
  padding: 40px 80px;
  background-image: url(../assets/diagonal.png);
  background-size: 25vmax;
}

.start {
  background-image: url(../assets/diagonal.png);
  height: 90px;
  width: 100px;
  display: inline-block;
  padding: 34px 31px;
  color: #fff;
  margin-left: 30px;
  text-align: center;
}

.fa-plus,
.fa-minus {
  padding: 0;
  position: absolute;
  right: 20px;
  top: 25px;
  background: transparent;
  font-size: 2rem;
  -webkit-transition: .2s;
  transition: .2s;
  color: #498091;
  font-size: 1.3rem;
}

/* Global Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Barlow', Helvetica, sans-serif;
  text-decoration: none;
}

*,
.bioBlock,
.bioBlock2,
.icon,
.scrollBlock {
  font-size: 1.7rem;
  line-height: 1.3;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

header,
main {
  margin-left: 40vmin;
}

body {
  position: relative;
}

section {
  padding: 100px 25px 200px 50px;
}

button {
  background: none;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
  color: #fff;
  width: 100%;
  height: 100%;
  font-family: 'Barlow';
}

button:hover {
  background: #fff;
  color: #000;
}

.block {
  background: #fff;
  padding: 20px 40px 20px 20px;
  margin: 20px 0px 20px 20px;
  margin-right: 0px;
}

.innerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.year,
.name,
.year3,
.degree,
.training,
i {
  color: #fff;
  background: #1742C2;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.year3,
.degree,
.training {
  color: #000;
  background: #fff;
}

h1 {
  color: #1742C2;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 10px 0 30px 0;
}

h2 {
  font-size: 2.5rem;
  margin: 10px 0;
  line-height: 1.2;
  text-align: justify;
  color: #1742C2;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 40vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.979);
  z-index: 10;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav img {
  width: 60%;
  margin: 0 0 25px 0;
  -webkit-animation: spin 60s linear infinite;
          animation: spin 60s linear infinite;
}

nav ul {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  margin: 1vmin;
  -webkit-transition: .2s;
  transition: .2s;
}

nav span {
  display: inline-block;
  height: 1px;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#e4e4e4), to(#e7e7e7));
  background: linear-gradient(to left, #e4e4e4, #e7e7e7);
  margin: 20px 0 15px 0;
}

li a {
  color: #1d1d1d;
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
  padding: 20px 2px 20px 10px;
}

li a:hover {
  text-transform: uppercase;
}

header {
  height: 100vh;
  background: white;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header div {
  width: 40vmin;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-in forwards;
          animation: fadeIn 1.5s ease-in forwards;
  padding-top: 10vmin;
}

header img {
  width: 100%;
  border-radius: 3px;
}

p {
  widows: 3;
}

@media (max-width: 500px) {
  nav {
    width: 100%;
    position: relative;
    top: 0;
    padding: 12.5%;
    height: 95vh;
  }
  nav li a {
    text-decoration: none;
    padding: 15px 2px 15px 10px;
  }
  h2 {
    font-size: 1.8rem;
    line-height: 1.3;
  }
  header div {
    width: 60vmin;
    padding-top: 0;
    padding-bottom: 10vmin;
  }
  header,
  main,
  section,
  .biography,
  .wave {
    margin-left: 0;
  }
  section {
    padding: 50px 15px 100px 25px;
  }
  .wave {
    background-size: 100%;
  }
  .innerBlock {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .bioBlock .innerBlock,
  .scrollBlock .innerBlock {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .bioBlock2 .innerBlock {
    padding: 0;
  }
  .bioBlock2 .innerBlock p {
    padding: 20px 40px;
    text-align: justify;
  }
  .bioBlock2 .innerBlock h3 {
    padding: 30px 0 10px 0;
  }
  .resBlock2 p {
    padding: 0;
    width: 95%;
    text-align: justify;
  }
  .year3,
  .degree {
    width: 100%;
    margin: 10px 0;
  }
  .degree {
    margin: 5px 0;
  }
  .scrollBlock .innerBlock {
    padding: 10px;
  }
  .innerH {
    width: 6500px;
  }
  *,
  .bioBlock,
  .bioBlock2,
  .icon,
  .scrollBlock {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 1.7rem;
  }
  h3,
  h4,
  .right {
    text-align: center;
    width: auto;
    text-align: center;
  }
  .right {
    margin-top: 15px;
  }
  .resBlock {
    margin: 20px 0;
  }
  .resBlock p {
    width: 100%;
    padding: 5px 0 0 0;
    text-align: left;
  }
  .resOptions {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 50px 50px 50px;
        grid-template-rows: 50px 50px 50px;
    gap: 15px;
  }
  .resOptions li {
    font-size: 1.5rem;
  }
  .name,
  .year3,
  .degree,
  .training,
  i {
    padding: 10px;
  }
  .trainBlock,
  .skillBlock {
    margin: 20px 0;
  }
  .trainBlock span,
  .skillBlock span {
    width: 100%;
  }
  .trainBlock p,
  .skillBlock p {
    width: 100%;
    text-align: right;
    padding: 10px 0;
    background: #1742C2;
    color: #fff;
  }
  .trainBlock p {
    padding: 10px 0px 10px 0%;
  }
  .dots {
    background-size: 184%;
  }
  .writing {
    min-height: 1350px;
  }
  .writingBlock,
  .writingBlock2 {
    width: 80%;
  }
  .writingBlock {
    padding: 20px 14px;
    font-size: 1.3rem;
  }
  .writingBlock2 {
    margin-top: 370px;
    margin-bottom: 80px;
  }
  .writingBlock2 p {
    text-align: justify;
  }
  .designBlock2 {
    width: 87%;
    padding: 10px 0;
    text-align: justify;
  }
  .writingBlock2 .year,
  .designBlock2 .year {
    padding: 10px 0 20px 0;
  }
  .design {
    padding: 100px 50px 0;
  }
  .design ul {
    width: 98%;
    margin: 0 auto;
  }
  .design ul li {
    width: 95%;
    margin: 64px auto 0 auto;
  }
  .design .grid {
    height: 50vh;
  }
  .design .grid img {
    padding: 15px 30px;
  }
  .design .g3 {
    width: 570vmax;
  }
  .design .g4 {
    width: 440vmax;
  }
  .design a .h {
    padding: 50px;
  }
}
/*# sourceMappingURL=styles.css.map */