a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
  }
}

@-webkit-keyframes colour {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
  }
}

@keyframes colour {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(180deg);
            filter: hue-rotate(180deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.expand {
  padding: 25px 0;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: .2s;
  transition: .2s;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header,
main {
  margin-left: 40vmin;
}

body {
  position: relative;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 40vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 255, 255, 0.979);
  z-index: 10;
  overflow: scroll;
}

nav img {
  width: 66%;
  margin: 15% 0 10px 0;
  -webkit-animation: spin 60s linear infinite;
          animation: spin 60s linear infinite;
}

nav ul {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav li {
  margin: 1vmin;
}

nav span {
  display: inline-block;
  height: 1px;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#e4e4e4), to(#e7e7e7));
  background: linear-gradient(to left, #e4e4e4, #e7e7e7);
  margin: 20px 0 15px 0;
}

li a {
  color: #1d1d1d;
  font-weight: 400;
  font-size: 1.5vmax;
  text-decoration: none;
  padding: 20px 2px 20px 10px;
}

li a:hover {
  text-transform: uppercase;
}

header {
  height: 100vh;
  background: white;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

header div {
  width: 40vmin;
  opacity: 0;
  -webkit-animation: fadeIn 1.5s ease-in forwards;
          animation: fadeIn 1.5s ease-in forwards;
}

header img {
  height: 40vmin;
  border-radius: 3px;
}

section {
  padding: 100px 0 200px 40px;
}

.wave {
  position: fixed;
  top: 0px;
  height: 100vh;
  width: 100%;
  margin-left: 40vmin;
  background-image: url(../assets/wave.jpg);
  -webkit-animation: scale 120s ease-out alternate infinite, colour 10s ease-out alternate infinite;
          animation: scale 120s ease-out alternate infinite, colour 10s ease-out alternate infinite;
}

.biography {
  position: relative;
  margin-left: 40vmin;
  z-index: 2;
}

.resume {
  background: #1742C2;
}

.design {
  height: 100vh;
  background: #fff;
}

main {
  position: relative;
}

.options {
  width: 90%;
  margin: 0 auto;
}

.options ul {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 3%;
  min-height: 80px;
}

.options ul li {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  background: #1742C2;
  font-size: 1.9rem;
  height: 100%;
  width: 100%;
  padding: 20px;
  -webkit-transition: .2s;
  transition: .2s;
  border: 2px solid #fff;
  color: #fff;
}

.options ul li:hover {
  background: black;
  color: #fff;
}

.block {
  background: #fff;
  padding: 20px 40px 20px 20px;
  margin: 20px 0px 20px 20px;
  margin-right: 0px;
}

.innerBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.year,
.name,
.year3 {
  color: #fff;
  background: #000;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.year3 {
  color: #000;
  background: #fff;
}

.year1 {
  margin-right: 50px;
}

.name {
  width: 400px;
}

.bioBlock,
.resBlock {
  padding: 0;
  background: white;
  margin: 20px 20px 20px 0px;
}

.bioBlock p,
.resBlock p {
  padding: 20px;
}

.resBlock {
  background: #1742C2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 20px 30px 0px;
}

.resBlock p {
  width: 70%;
  padding: 0 0 0 3.3%;
  text-align: justify;
}

.bioBlock2,
.resBlock2 {
  padding: 0;
  background: #000;
}

.bioBlock2 p,
.resBlock2 p {
  padding: 20px;
  color: #fff;
}

.bioBlock2 .year,
.bioBlock2 {
  color: #fff;
  background: #1742C2;
  margin: 0;
  padding: 25px;
}

.bioBlock2 {
  margin-bottom: 75px;
  padding: 10px 0;
  width: 100%;
}

.year3 {
  width: 33%;
}

html {
  font-family: 'Barlow', Helvetica, sans-serif;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  -webkit-transition: .2s;
  transition: .2s;
}

h1 {
  color: #1742C2;
  font-size: 2vmax;
  font-weight: 600;
  margin: 10px 0 30px 0;
}

.block,
.resBlock,
.resBlock2,
.bioBlock,
.bioBlock2 {
  font-size: 1.7rem;
  line-height: 1.3;
  display: inline-block;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.resBlock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

h2 {
  font-size: 2.5rem;
  margin: 10px 0;
  line-height: 1.2;
  text-align: justify;
}

.top {
  padding-top: 100px;
}

/* Global Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/*# sourceMappingURL=styles.css.map */