a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(00 0 0);overflow: hidden;}



/* Global Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

.index {
  background-image: url(./assets/bg62midHi.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapperNav {
  width: 88%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 1%;
}

section {
  margin-bottom: 3vh;
}

.italic {
  font-style: italic;
}

.orange {
  color: rgb(250, 133, 0);
  font-weight: 400;
}

.orangeTwo {
  color: rgb(250, 58, 0);
}

.blue {
  color:  #2D26C5;
}

.white {
  color: #fff;
}

h1,
h2,
h3,
h4,
h5,
a,
nav,
li,
.headBand span,
form input,
.projectModal button,
.dash {
  font-family: 'Comfortaa', helvetica, arial;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
}

span {
  text-transform: none;
}

h3 {
  font-size: 5rem;
  text-align: justify;
}

.headBand,
.filler {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 30px 0;
 
}

.filler {
  color: rgba(255, 0, 149);
  transition: 3s;
  opacity: .3;
}


h4 {
  font-size: 3.5rem;
  padding: 35px;
  color: #fff;
  text-align: center;
}

p,
button,
.itemName {
  font-family: 'Quicksand';
  font-weight: 500;
  text-transform: none;
  color: #2D26C5;
}

.margin {
  display: flex;
  flex-direction: column;
  align-items: center;
  word-break: break-all;
  right: 0px;
  top: 0px;
  width: 25px;
  height: 100vh;
  position: fixed;
  position: -webkit-sticky;
}

.margin li,
.navDash {
  font-size: 1.2rem;
  line-height: 1.1;
  width: -1px;
  color: #fa4d18;
  text-align: center;
  position: relative;
  right: -12px;
  background-color: #fff;
  border-radius: 3px;
  padding: 8px;
  opacity: 50%;
  transition: .1s ease-in;
}

.navDash {
  background-color: transparent;
}

.margin li:hover{
  opacity: 80%;
}

/* Landing Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

h1 {
  font-size: 6.5rem;
  padding-bottom: 50px;
  transition: all 5s ease-in;
  text-align: center;
  line-height: 1.4;
}

h1:hover {
  color:rgb(248, 8, 140);
}

h2,
.landingRightColumn span {
  text-decoration: none;
  transition: all .1s ease-out;
  list-style: none;
  text-transform: uppercase;
  font-size: 3.3rem;
  padding-bottom: 3px;
  line-height: 1.3;
}

.landing {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  flex-wrap: wrap;
  margin-bottom: 7vh;
}

.landingLeftColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 500px;
  margin-right: 1%;
  width: 50%;
  margin-right: 3%;
}

.landingRightColumn {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 10px;
}

.rightColumn span {
  display: block;
}

.myFace {
  width: 485px;
  animation: spin 30s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}

.titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  max-width: 240px;
  flex-wrap: wrap;
}

ul {
  text-align: right;
  padding: 50px 40px 0 0;
  width: 100%;
}

li, 
ul .dash {
  font-size: 2.5rem;
  color: #fa4d18;
  padding: 5px;
  line-height: 1.1;
}

.link:hover,
.link:focus {
  color: rgb(248, 8, 140);
}

/* 
.hey {
  font-size: 1rem;
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 10px;
  background-color: teal;
  border
} */

/* .mystery i {
  color: rgba(117, 137, 204, 0.438);
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 20px;
  animation: alsoSpin 60s linear infinite;
}

.mystery i:hover {
    color: rgb(0, 255, 34);
} */



@keyframes alsoSpin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


/* About ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.aboutContainer {
  display: flex;
  flex-wrap: wrap-reverse;
}

.bio {
 width: 60%;
}

.hi {
  background-color: #251dc4dc;
  color: #fff;
  font-size: 2rem;
  width: 100%;
  box-shadow: -3px 3px 2px #fff;
  border-radius: 5px;
  min-height: 100px;
  padding: 50px;
  text-align: center;
}

.dashes {
  width: 60%;
  
}

.about img {
  border-radius: 50%;
  border: 2px solid #2D26C5;
  padding: 3px;
  width: 280px;
  height: 280px;
  margin: auto;
}

.embrace {
  margin-bottom: 0;
}

p, 
.res,
.resP,
.cv {
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 5px;
  padding: 17px 25px 25px 25px;
  margin: 8px 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: justify;
  box-shadow: -2px 1px 1px #0015d375;
  font-weight: 500;
  text-transform: none;
}



.res {
  background-color: rgba(255, 255, 255, 0.774);
  border-radius: 5px;
  padding: 5px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.res i {
  font-size: 2rem;
  padding: 6px 5px;
  transition: .05s ease-in;
}

.res i:hover {
  color: rgb(72, 8, 248);
}

.resP,
.cv {
  font-size: 2.1rem;
  padding: 0 15px 0 0;
  text-transform: none;
  background-color: transparent;
  box-shadow: none;
}

.cv {
  font-size: 1.4rem;
  padding: 8px 15px;
}


footer {
  margin-top: 8vh;
}



/*  Skills ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.blueBox,
.wp {
  background-color: #251dc4dc;
  border-radius: 5px;
}

i {
  font-size: 5rem;
  color: #fff;
  transition: .15s;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemName {
  font-size: 1.3rem;
  color: #fff;
  padding-top: 10px;
}


.pngIcon {
  height: 50px;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 25px 25px 25px;
}



/* Web Projects ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.wp { 
  margin: 1px 0;
}

.wp h3 {
  padding: 25px;
  text-align: center;
  color: #fff;
}

.projectModal {
  background-color: #fff;
  width: 100%;
  min-height: 80vh;
  margin: 0 auto;
  border-bottom: 2px solid #2D26C5;
  background-image: url(./assets/digIll/hiWorld.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position-x: 60%;
  background-position-y: 50%;
  position: relative;
}

.projectModal li  i {
  font-size: 2rem;
  padding: 10px 10px 10px 40%;
  text-align: left;
}

.hiWorld {
  width: 80%;
  padding: 160px 130px 100px 70px;
}

.projectModal ul {
  text-align: left;
  padding: 10px;
  width: 150px;
  position: absolute;
}

.projectModal li,
.projectModal span {
  font-size: 1.6rem;
  text-align: left;
}

.projectModal button {
  padding: 0;
  text-align: left;
  color: #fa4d18;
}

.bulldogBook {
  background-color: rgb(255, 255, 255);
  height: 100%;
  padding-left: 20%;
  min-height: 80vh;
  text-align: right;
  
  /* display: none; */
}

.projectModal h5 {
  font-size: 3rem;
  padding: 20px;
  color: #fa4d18;
}

/* Design + Illustration ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.expandCollapse {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
}

.designIll {
  display: flex;
  justify-content: space-between;
}

.designIll h3 {
  padding: 35px 25px 0 25px;
  text-align: center;
}

.design,
.illustration {
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 30px;
  border-radius: 5px;
  width: 49.5%;
}

h5 {
  font-size: 2rem;
  color: #2D26C5;
  padding-left: 25px;
  transition: .15s;
  line-height: 1.1;
}

.click i,
.expandCollapse button,
.expandCollapse i {
  font-size: 1.8rem;
  color: #2D26C5;
  text-transform: none;
}

.box {
  border-bottom: 3px dotted orange;
  margin: 0px 25px 0px 25px;
  padding: 40px 0 30px 0;
}

.box p {
  padding: 0 0;
  box-shadow: none;
  background-color: transparent;
  margin-bottom: -5px;
}

.box img {
  width: 49.5%;
  border: 1px dotted #2e26c550;
  border-radius: 2px;
  margin: 2% 0;
  padding: 5px;
  transition: .3s linear;
}

.box a {
  font-size: 1.5rem;
  color: #fa4d18;
  text-transform: none;
}

.ill {
  padding-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

div .box:last-child {
  border-bottom: none;
}

button {
  background: none;
  border: none;
  float: left;
  transition: .3s;
  padding: 1px 0 0px 0;
  margin-right: 5px;
}

button i:hover {
  color: #fa4d18;
}


/* jQuery properties */

.toggle {
  display: none;
}

.rotate {
  /* transform: rotate(180deg); */
  transform: scaleY(-1);
}

.sideBarNav {
  display: none;
}

.mysteryLink i {
  color: rgb(230, 7, 182);
  font-size: 2rem;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 10px;
  transition: ease-out .3s;
}

.mysteryLink i:hover{
  color: rgb(141, 7, 230);
  transform: rotate(180deg);
}

.size {
  width: 100%;
}

/* End of Cascade Properties */

.clear {
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-transform: none;
  text-decoration: none;
  box-shadow: none;
}