a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

/* Global Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  background: black;
  background-size: contain;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: skew(45deg, 0deg) rotate3d(1, 1, 1, 0deg) rotate(0deg);
            transform: skew(45deg, 0deg) rotate3d(1, 1, 1, 0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: skew(95deg, 0deg) rotate3d(1, 1, 1, 90deg) rotate(180deg);
            transform: skew(95deg, 0deg) rotate3d(1, 1, 1, 90deg) rotate(180deg);
  }
  100% {
    -webkit-transform: skew(45deg, 0deg) rotate3d(1, 1, 1, 0deg) rotate(360deg);
            transform: skew(45deg, 0deg) rotate3d(1, 1, 1, 0deg) rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: skew(45deg, 0deg) rotate3d(1, 1, 1, 0deg) rotate(0deg);
            transform: skew(45deg, 0deg) rotate3d(1, 1, 1, 0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: skew(95deg, 0deg) rotate3d(1, 1, 1, 90deg) rotate(180deg);
            transform: skew(95deg, 0deg) rotate3d(1, 1, 1, 90deg) rotate(180deg);
  }
  100% {
    -webkit-transform: skew(45deg, 0deg) rotate3d(1, 1, 1, 0deg) rotate(360deg);
            transform: skew(45deg, 0deg) rotate3d(1, 1, 1, 0deg) rotate(360deg);
  }
}

ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(770px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(770px, 1fr));
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

li {
  min-height: 50vmin;
  width: 100%;
  background: url("./buhiAssets/blkPaper.jpg");
  background-size: cover;
  position: relative;
}

li img {
  padding: 10%;
  margin: 0 auto;
}

.title {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}

.description {
  padding-bottom: 100%;
  height: 0;
}

h1 {
  color: white;
  font-size: 8vw;
  width: 0px;
  margin: 0 auto;
  font-family: 'Arial Narrow', serif, sans-serif;
  -webkit-filter: drop-shadow(-6px -7px 0px #c637a9);
          filter: drop-shadow(-6px -7px 0px #c637a9);
  -webkit-animation: spin linear 20s;
          animation: spin linear 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  padding: 20%;
}

.desc {
  margin: auto;
  width: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  position: absolute;
  left: 14.5%;
  padding: 4% 0;
  top: 0;
}

p {
  color: white;
  font-family: 'Barlow Condensed', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3vw;
  line-height: 1.4;
  -webkit-filter: drop-shadow(2px -2px 0px #c637a9);
          filter: drop-shadow(2px -2px 0px #c637a9);
  text-transform: uppercase;
}

.over {
  opacity: 0;
  -webkit-transition: .2s;
  transition: .2s;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  margin: auto;
  -webkit-filter: drop-shadow(-2px 0px 0px #00000071);
          filter: drop-shadow(-2px 0px 0px #00000071);
  background: rgba(0, 0, 0, 0.466);
}

.over:hover {
  opacity: 1;
}

.skewR {
  -webkit-transform: skew(-30deg);
          transform: skew(-30deg);
  text-align: left;
}

.skewL {
  -webkit-transform: skew(30deg);
          transform: skew(30deg);
  text-align: right;
}

@media (max-width: 1440px) {
  ul {
    -ms-grid-columns: (minmax(477px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(477px, 1fr));
  }
  p {
    font-size: 2vw;
    -webkit-filter: drop-shadow(1px -1px 1px #c637a9);
            filter: drop-shadow(1px -1px 1px #c637a9);
  }
}

@media (max-width: 958px) {
  ul {
    -ms-grid-columns: (minmax(320px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  p {
    font-size: 2vw;
  }
}

@media (max-width: 644px) {
  .desc {
    width: 76%;
    left: 12%;
  }
  p {
    font-size: 3.8vw;
    -webkit-filter: drop-shadow(1px -1px 0px #c637a9);
            filter: drop-shadow(1px -1px 0px #c637a9);
  }
}
/*# sourceMappingURL=styles.css.map */