@media(max-width: 1008px) {
 .lm {
   width: 100%;
 }
 .imgL,
.imgR,
.imgH,
.img {
  p {
    font-size: 1rem;
  }
}
}

@media(max-width: 800px) {
  .column {
    width: 100%;
    height: auto;
    padding-left: 7%;
  }
  button,
  .chevrons {
    width: 100%;
    padding-left: 10%;
  }
  .bb {
    width: 93%;
    margin-left: 7%;
  }
  article {
    font-size: 1.5rem;
    P {
      width: 100%;
    }
  }
  main {
    padding-bottom: 40vmax;
  }
  ul {
    width: 90%;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  li {
    overflow: hidden;
  }
  header {
    flex-direction: column;
    width: 90%;
    margin: 30px auto 0px auto;
  }
  h1 {
    margin: 0;
  }
  h2 {
    width: 100%;
    padding: 9px 14px 14px 30px;
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .scroll {
    width: 10px;
  }

  .imgL,
  .imgR,
  .imgH,
  .img {
      width: 100%;
      margin: 20px auto;
      height: auto;
      background-size: 60%;
  }

  .imgL p {
    padding-left: 12px;
    text-align: center;
  }
}

@media(max-width: 674px) {
  .sm i {
    margin-top: 0;
  }
}

@media(max-width: 649px) {
  .modal {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    left: 8px;
    top: 8px;
  }
  nav {
    width: calc(100% - 16px);
  }
  article {
    font-size: 1.4rem;
  }
  .img {
    width: 100%;
  }
  main {
    padding-bottom: 70vmax;
  }
  h1 {
    font-size: 2.5rem;
    letter-spacing: 4vw;
    span {
      font-size: 3.5vw;
    }
  }
  h2 {
    width: 100%;
    padding: 9px 14px 14px 30px;
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .scroll {
    width: 10px;
  }
}

@media(max-width: 500px) {
  article {
    font-size: 1.3rem;
    line-height: 1.6;
  }
} 