#stevenson {
  background-image: url(https://fonderiedarling.org/assets/components/phpthumbof/cache/SStevenson_BeforeTheStorm_2021_36_lowres.701ffd2a5a1586280508fa4385eb8579.jpg);
  span {
    background: rgb(92, 165, 92);
  }
}

#munich {
  background-image: url('../assets/munich.jpg');
  span {
    background: #1400ff
  }
}

#cafe {
  background-image: url('../assets/cafe3.jpg');
  span {
    background: rgb(92, 165, 92);
  }
}