#stevenson {
  background-image: url(https://fonderiedarling.org/assets/components/phpthumbof/cache/SStevenson_BeforeTheStorm_2021_36_lowres.701ffd2a5a1586280508fa4385eb8579.jpg);
  span {
    background: rgb(151, 194, 134);
  }
}

#blockbuster {
  background-image: url('../assets/002-warhol1.jpeg');
  span {
    background: #cde448
  }
}

#munich {
  background-image: url('../assets/munich.jpg');
  span {
    background: #cde448
  }
}

#cafe {
  background-image: url('../assets/cafe3.jpg');
  span {
    background: rgb(184, 144, 171);
  }
}

#smoke {
  background-image: url('../assets/jcSmoke.jpg');
  span {
    background: rgb(196, 185, 128);
  }
}

.fpo {
  background: yellow;
}