#stevenson {
  background-image: url(https://fonderiedarling.org/assets/components/phpthumbof/cache/SStevenson_BeforeTheStorm_2021_36_lowres.701ffd2a5a1586280508fa4385eb8579.jpg);
  span {
    background: linear-gradient(rgba(45, 199, 96, 0.5), rgba(205, 199, 96, 0.5));
  }
}


#munich {
  background-image: url('../assets/munich.jpg');
  span {
    background: linear-gradient(rgba(153, 0, 255, 0.9), rgba(0, 102, 255, 0.5) 50%);
  }
}



#cafe {
  background-image: url('../assets/cafe3.jpg');
  span {
    background: linear-gradient(rgba(153, 0, 255, 0.9), rgba(255, 0, 140, 0.5) 50%);
  }
}