a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

#stevenson {
  background-image: url(https://fonderiedarling.org/assets/components/phpthumbof/cache/SStevenson_BeforeTheStorm_2021_36_lowres.701ffd2a5a1586280508fa4385eb8579.jpg);
}

#stevenson span {
  background: #97c286;
}

#munich {
  background-image: url("../assets/munich.jpg");
}

#munich span {
  background: #cde448;
}

#cafe {
  background-image: url("../assets/cafe3.jpg");
}

#cafe span {
  background: #b890ab;
}

#smoke {
  background-image: url("../assets/jcSmoke.jpg");
}

#smoke span {
  background: #c4b980;
}

.fpo {
  background: yellow;
}

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Barlow', Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background: #fff;
  scroll-behavior: smooth;
}

header {
  background-size: 20%;
  padding: 20px;
  margin: 15px 0% 0 15px;
  width: 89%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 2;
  position: relative;
  background: url(../assets/diag.png);
}

h1, h2 {
  background: #fff;
}

h1 {
  font-size: 3rem;
  padding: 15px 0px 20px 30px;
  margin: 10px 0 10px 9%;
  letter-spacing: 34px;
}

h1 span {
  display: block;
  padding-top: 15px;
  font-size: 2rem;
  letter-spacing: 0px;
}

h2 {
  font-size: 1.5rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding: 9px 7px 14px 30px;
  width: 260px;
  line-height: 1.7;
  margin: 10px 0 10px 20px;
}

.scroll {
  position: fixed;
  right: 0;
  height: 100%;
  top: 0;
  width: 15px;
  z-index: 1;
  background: url(../assets/diag.png);
  mix-blend-mode: saturation;
}

ul {
  display: -ms-grid;
  display: grid;
  width: 80%;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
  margin: 4% auto;
}

li {
  height: 0;
  padding-bottom: 100%;
  overflow: scroll;
  border-radius: 2px;
  background-size: cover;
  overflow: scroll;
  position: relative;
  cursor: pointer;
  -webkit-transition: .25s;
  transition: .25s;
}

li span {
  height: 200%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  -webkit-transition: .25s;
  transition: .25s;
  mix-blend-mode: exclusion;
  opacity: .5;
}

.header {
  width: 100%;
  background: url("../assets/diag.png");
  background-size: 150%;
  padding: 20px;
  z-index: 1;
  position: relative;
}

h3 {
  color: #333333;
  font-size: 1.7rem;
  padding: 10px;
  margin: 10px 0;
  line-height: 1.5;
  background: #fff;
  width: auto;
  text-transform: uppercase;
}

h3:last-child {
  text-transform: lowercase;
}

.modal {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  background: #fff;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  top: 15px;
  left: 15px;
  z-index: 10;
  overflow: scroll;
  -webkit-transition: .2s;
  transition: .2s;
}

.modal h3:first-child {
  padding-top: 7%;
}

.modal h3 {
  padding: 10px 0 0 0%;
  margin: 0;
  background: transparent;
  font-size: 2rem;
}

.modal p:first-child {
  font-weight: 600;
  margin-top: 57px;
}

.column {
  width: 40%;
  height: calc(100vh - 30px);
  padding-bottom: 7%;
  margin: 0 4% 20px 0;
  padding: 3% 0% 7% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  float: left;
  background-image: url("../assets/diagonal2.png");
}

.colImg {
  width: 100%;
  margin-top: 60px;
}

.title {
  margin-right: 5%;
}

nav {
  width: calc(100% - 30px);
  position: fixed;
  background: url("../assets/diag.png");
  background-size: 70%;
}

@-webkit-keyframes left {
  0% {
    left: 0;
  }
  80% {
    left: -1%;
  }
  100% {
    left: 0;
  }
}

@keyframes left {
  0% {
    left: 0;
  }
  80% {
    left: -1%;
  }
  100% {
    left: 0;
  }
}

button,
.chevrons {
  font-size: 1.7rem;
  background: transparent;
  border-radius: 1px;
  border: none;
  font-family: 'Barlow', Helvetica, sans-serif;
  color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 40%;
  padding: 10px 20px 10px 5%;
  position: absolute;
  left: 0;
  z-index: 15;
  -webkit-transition: .2s;
  transition: .2s;
}

button:hover, button:focus,
.chevrons:hover,
.chevrons:focus {
  color: #000;
}

.top {
  width: 100%;
  display: block;
  background-image: url("../assets/diagonal2.png");
  margin-top: 5vmax;
  color: #6f6f6f;
  -webkit-transition: .2s;
  transition: .2s;
}

.top:hover, .top:focus {
  background: #ebebeb;
}

.bb {
  background: rgba(255, 255, 255, 0.99);
  width: 40%;
  height: 1.7rem;
  padding: 20px 0;
  position: absolute;
  left: 0;
  z-index: 14;
  margin-left: 3%;
}

.chevrons {
  pointer-events: none;
  top: 2px;
}

.left {
  color: #000;
}

article {
  font-family: 'Roboto Slab';
}

article span {
  display: inline;
}

article p {
  margin-bottom: 12px;
  font-weight: 400;
  width: 90%;
  margin: auto;
  max-width: 1200px;
  padding-bottom: 12px;
}

.name {
  font-size: 80%;
  background-image: url("../assets/diagonal2.png");
  padding: 20px 5%;
  width: 55%;
  margin: 3vmax 0;
}

em {
  font-style: italic;
}

.imgL,
.imgR,
.imgH,
.img {
  height: 30vmax;
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../assets/diagonal2.png");
  background-size: contain;
  margin: 40px -8% 40px 4%;
}

.imgL img,
.imgR img,
.imgH img,
.img img {
  height: 100%;
  max-width: 100%;
  width: auto;
  margin: 0 auto;
}

.imgL p,
.imgR p,
.imgH p,
.img p {
  font-family: 'Barlow';
  width: 100%;
  font-size: 1.2rem;
  padding: 6px 12px;
  margin: 0;
  background: #f9f9f9;
  color: #919191;
  text-align: center;
}

sup {
  padding: 0 4px;
  font-size: 75%;
  background: #f6f6f6;
  cursor: pointer;
  position: relative;
  text-align: left;
}

.footnote {
  position: absolute;
  background: #f6f6f6;
  padding: 12px;
  color: #2b2b2b;
  top: 0;
  left: calc(100% + 4px);
  opacity: 1;
  display: none;
  -webkit-transition: .1s;
  transition: .1s;
}

.imgR {
  float: right;
}

.imgL {
  margin: 30px 4% 30px -8%;
  float: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.imgL p {
  padding-left: 20%;
  text-align: left;
}

.imgH {
  width: calc(50% - 2px);
  margin: 30px 1px;
  float: left;
}

.img {
  width: 100%;
  margin: 30px auto;
}

img {
  height: 100%;
  width: 100%;
}

article {
  font-size: 1.6rem;
  padding: 2.5% 7%;
  text-align: justify;
  line-height: 1.8;
}

article span {
  font-weight: bold;
}

main {
  position: absolute;
  width: 100%;
  z-index: 0;
  padding-bottom: 30vh;
}

.background {
  background: linear-gradient(-6deg, #ffa70082, #eae86738 50%, #ff000070 100%), url(../assets/diagonal2.png);
  width: 100%;
  position: absolute;
  top: 0;
  animation: colour 3s alternate-reverse infinite;
  position: absolute;
  z-index: 0;
  height: calc(100% + 300px);
  top: -300px;
}

@-webkit-keyframes colour {
  0% {
    -webkit-filter: hue-rotate(-10deg);
            filter: hue-rotate(-10deg);
    opacity: .9;
  }
  100% {
    -webkit-filter: hue-rotate(10deg);
            filter: hue-rotate(10deg);
    opacity: .8;
  }
}

@keyframes colour {
  0% {
    -webkit-filter: hue-rotate(-10deg);
            filter: hue-rotate(-10deg);
    opacity: .9;
  }
  100% {
    -webkit-filter: hue-rotate(10deg);
            filter: hue-rotate(10deg);
    opacity: .8;
  }
}

.show {
  opacity: 1;
  pointer-events: all;
  -webkit-transition: .4s ease-in;
  transition: .4s ease-in;
}

footer {
  background: url("../assets/diag.png");
  position: absolute;
  bottom: 0px;
  z-index: 4;
  width: 100%;
}

footer p {
  font-size: 1.6rem;
  padding: 15px;
  background: #fff;
}

footer .end {
  display: inline-block;
  margin: 0px 20px 20px 20px;
}

.mr {
  margin-right: 8%;
}

footer i {
  font-size: 3rem;
  padding: 8.5px;
  background: #fff;
}

.lm {
  width: 37%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.lm p {
  margin-right: 20px;
}

.sm i {
  margin: 20px 20px 20px 0;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.links p {
  margin: 20px 20px 20px 0;
}

.line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

footer a, footer p, footer i {
  -webkit-transition: .2s;
  transition: .2s;
}

a {
  color: #0400ff;
}

a p:hover,
a p:focus,
a i:hover,
a i:focus {
  background: #002fff;
  color: #fff;
}

.none {
  pointer-events: none;
  opacity: 0;
}

@media (max-width: 1008px) {
  .lm {
    width: 100%;
  }
  .imgL p,
  .imgR p,
  .imgH p,
  .img p {
    font-size: 1rem;
  }
}

@media (max-width: 800px) {
  .column {
    width: 100%;
    height: auto;
    padding-left: 7%;
  }
  button,
  .chevrons {
    width: 100%;
    padding-left: 10%;
  }
  .bb {
    width: 93%;
    margin-left: 7%;
  }
  article {
    font-size: 1.5rem;
  }
  article P {
    width: 100%;
  }
  main {
    padding-bottom: 40vmax;
  }
  ul {
    width: 90%;
    -ms-grid-columns: (minmax(280px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  }
  li {
    overflow: hidden;
  }
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    margin: 30px auto 0px auto;
  }
  h1 {
    margin: 0;
  }
  h2 {
    width: 100%;
    padding: 9px 14px 14px 30px;
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .scroll {
    width: 10px;
  }
  .imgL,
  .imgR,
  .imgH,
  .img {
    width: 100%;
    margin: 20px auto;
  }
  .imgL p {
    padding-left: 12%;
  }
}

@media (max-width: 674px) {
  .sm i {
    margin-top: 0;
  }
}

@media (max-width: 649px) {
  .modal {
    width: calc(100% - 16px);
    height: calc(100% - 16px);
    left: 8px;
    top: 8px;
  }
  nav {
    width: calc(100% - 16px);
  }
  article {
    font-size: 1.4rem;
  }
  .img {
    width: 100%;
  }
  main {
    padding-bottom: 60vmax;
  }
  h1 {
    font-size: 2.5rem;
    letter-spacing: 4vw;
  }
  h1 span {
    font-size: 3.5vw;
  }
  h2 {
    width: 100%;
    padding: 9px 14px 14px 30px;
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  .scroll {
    width: 10px;
  }
}

@media (max-width: 500px) {
  article {
    font-size: 1.3rem;
    line-height: 1.6;
  }
}
/*# sourceMappingURL=styles.css.map */