// MUSIC STYLES

@import 'setup';


/* Global Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

body {
  background: black;
  background-size: contain;
}

@keyframes spin {
  0% {
      transform: skew(45deg, 0deg) rotate3d(1, 1, 1, 0deg) rotate(0deg);
  }
  100% {
    transform: skew(95deg, 0deg) rotate3d(1, 1, 1, 90deg) rotate(180deg);
  }
  100% {
    transform: skew(45deg, 0deg) rotate3d(1, 1, 1, 0deg) rotate(360deg);
  }
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(51vmin, 1fr));
  // grid-template-rows: repeat(auto-fill, minmax(55vmin, 1fr));
  justify-items: center;
  gap: 5px;
}

li {
  min-height: 50vmin;
  width: 100%;
  background: url(../musicAssets/blkPaper.jpg);
  background-size: cover;
  position: relative;
  img {
    // width: 70%;
    padding: 10%;
    margin: 0 auto;
  }
}

.title {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}

h1 {
  color: white;
  font-size: 80px;
  width: 0px;
  margin: 0 auto;
  font-family: 'Arial Narrow', serif, sans-serif;
  filter: drop-shadow(-6px -7px 0px #c637a9);
  animation: spin linear 20s;
  animation-iteration-count: infinite;
  z-index: -1;
  padding: 20%;
}

ul li:nth-child(2) {
  // background: greenyellow;
}

p {
  color: white;
  font-family: 'Barlow Condensed', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.3vmax;
  line-height: 1.4;
  filter: drop-shadow( -2px 0px 1px #c637a9);
  text-transform: uppercase;
  position: relative;
  padding-top: 3%;
  margin: 0 auto;
  top: 5%;
  left: 0%;
  width: 70%;
}

.over {
  opacity: 0;
  transition: .2s;
  position: absolute;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10%;
  margin: auto;
  filter: drop-shadow( -2px 0px 0px #00000071);

  background: rgba(0, 0, 0, 0.466);
  &:hover{
    opacity: 1;
  }
}
.skewR {
  transform: skew(-30deg);
  text-align: left;
}

.skewL {
  transform: skew(30deg);
  text-align: right;
}
em {
  // text-decoration: underline;
}