@media(max-width: 1187px) {

    .landingLeftColumn {
      height: 682px;
    }
  
    h1 {
      padding-bottom: 30px;
    }
  }
  
  @media(max-width: 1080px) {
  
    .icons {
      padding: 0 50px 25px 50px;
    }
  
    .vertical {
      display: flex;
    }
  
    .horizontal {
      display: none;
    }
  }
  
  // 862 / Tablet =================================
  
  @media(max-width: 862px) {
  
    .wrapper {
      width: 92%;
    }
  
    .landing {
      padding-top: 25px;
    }
  
    .top {
      display: block;
    }
  
    h1 {
      padding-bottom: 10px;
    }
  
    h2 {
      font-size: 3.1rem;
    }
  
    .landingLeftColumn {
      margin: 0 13px;
      min-width: 350px;
      height: auto;
      i {
        // display: block;
        color: $secondaryColour;
        margin: 40px 0;
        padding: 5px 6px 1px 5px;
        border-radius: 50%;
        transition: .1s ease-in;
          &:hover,
          &:focus {
            color: #fff;
            background-color: $secondaryColour;
          }
        }
        img {
          width: 95%;
          margin: 10px 0;
      }
    }
  
    .roles {
      padding: 35px 0 20px 20px;
      width: 55%;
      margin: 0 auto;
    }
  
    .landingRightColumn {
      width: 50%;
       ul {
      display: none;
    }
  }
  
    ul .dash {
      padding: 15px 5px;
    }
  
    h3 {
      font-size: 4rem;
    }
  
    .landing {
      margin-bottom: 0;
    }
  
    .headBand span {
      font-size: 2rem;
    }
  
    .about img {
      margin: 15px auto;
    }
  
    .bio {
      width: 100%;
      margin: 30px 0 0 0;
    }
  
    h4 {
      font-size: 3rem;
    }
    
    .designIll {
      flex-direction: column;
    }
  
    .design,
    .illustration {
      width: 100%;
    }
  
    .icons {
      padding: 0 35px 25px 35px;
    }
  
    .hide {
      display: none;
    }
  }
  
  
  // 550 / Mobile =================================
  
  @media(max-width: 550px) {
  
    .landingLeftColumn img {
        width: 85%;
    }
  
    .webDevelopment .headBand {
      width: 90%;
      margin: 0 auto;
      line-height: 1.3;
      text-align: center;
    }
  
    .vertical {
      display: none;
    }
  
    .projectModal img {
      width: 100%;
    }
  
    .filler {
      font-size: 2rem;
      padding: 20px 0;
    }
  }
  
  
  @media(max-width: 450px) {
  
    h1 {
      font-size: 3.5rem;
      padding-bottom: 15px;
    }
    
    .landingLeftColumn {
      min-width: 0;
      width: 50%;
        img {
        width: 100%;
    }
  }
  
    .roles {
      width: 75%;
      margin-left: 12%;
    }
  
     h2 {
      font-size: 2.3rem;
    }
  
    .landingRightColumn {
      min-width: 200px;
      // width: 100%;
        span {
        font-size: 1.5rem;
      }
    }

    .roles {
      padding-top: 10px;
    }
  
    .about img {
      width: 80%;
      height: 80%;
    }
  
    p,
    .contact span a{
      font-size: 1.4rem;
    }
  
    .res p {
      font-size: 1.5rem;
      padding: 10px;
      text-align: left;
    }
  
    .planes {
      margin-right: 25px;
    }
  
    .pBackground {
      padding: 12px 15px 15px 15px;
      margin: 4px 0;
    }
  
    h3 {
      font-size: 3.5rem;
    }
  
    .headBand span {
      font-size: 1.6rem;
    }
  
    .hide2 {
      display: none;
    }
  
    h4 {
      font-size: 2.7rem;
    }
   
    .filler {
      font-size: 1.7rem;
      padding: 20px;
    }
  
    .fillerBox {
      padding: 20px 10px;
    }
  
    .contactBox i,
    .contactBox img {
      font-size: 3rem;
      height: 27px;
      width: 25px;
      margin-bottom: 3px;
    }
  
  
    footer p {
      font-size: 1.3rem;
    }
  }
  
  @media(max-width: 350px) {
  
    .wrapper {
      width: 94%;
    }
  
    h1 {
      font-size: 3.1rem;
    }
  
    h2 {
      font-size: 2.1rem;
    }
  
    h3 {
      font-size: 3.2rem;
    }
  
    .item i {
      font-size: 3rem;
    }
  
    .itemName {
      font-size: 1.2rem;
    }
  
    .pngIcon {
      height: 30px;
      width: 32px;
    }
  
    .planes {
      margin-right: 5px;
    }
  
    .contactBox {
      padding: 25px;
    }
  }
  
  