a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Chakra Petch', Helvetica, Trebuchet;
  font-size: 20px;
  line-height: 1.5;
  text-decoration: none;
  text-align: justify;
}

.heading {
  font-family: 'Nova Mono', Helvetica, Arial;
  font-size: 25vmin;
  border: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  background: rgba(220, 200, 253, 0.411);
  -webkit-filter: drop-shadow(-1px 1px 0.3px #ac7ef7);
          filter: drop-shadow(-1px 1px 0.3px #ac7ef7);
}

.subHeading {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(34px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(34px, 1fr));
  font-family: 'Chakra Petch', Helvetica, Trebuchet;
  font-size: 4.5vmin;
  line-height: auto;
  text-decoration: none;
  text-align: center;
  background: transparent;
  -webkit-filter: drop-shadow(-1px 1px 0.2px #ac7ef7);
          filter: drop-shadow(-1px 1px 0.2px #ac7ef7);
}

.subHeading span {
  border-bottom: 1px solid rgba(172, 126, 247, 0.5);
}

p {
  font-size: 2.5vmin;
  margin: 3vmin 0;
  background-color: rgba(251, 247, 244, 0.94);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  padding: 4vmin 6vmin;
  height: 100%;
  letter-spacing: -.2px;
  -webkit-filter: drop-shadow(0 2px 3px rgba(100, 46, 15, 0.2));
          filter: drop-shadow(0 2px 3px rgba(100, 46, 15, 0.2));
}

p span {
  display: block;
  padding-top: 2vmin;
}

h3 {
  font-family: 'Nova Mono', Helvetica, Arial;
  font-size: 5vmax;
  text-transform: uppercase;
  text-align: center;
  padding: 1vmax 0;
}

.italic {
  font-style: italic;
  font-size: 2.2vmin;
}

.normalize {
  font-style: normal;
}

.topGallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  gap: 5%;
  margin: 40px 0 15% 0;
}

li {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-filter: drop-shadow(0 2px 3px rgba(100, 46, 15, 0.2));
          filter: drop-shadow(0 2px 3px rgba(100, 46, 15, 0.2));
  border-radius: 2px;
}

.overlay, .overlayDark {
  background: #fffdfbe0;
  opacity: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .1s;
  transition: .1s;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0 1vw;
  border-radius: 0px;
  position: absolute;
  top: 0;
}

.overlay:hover, .overlayDark:hover {
  opacity: 1;
  -webkit-filter: none;
          filter: none;
}

.overlayDark:hover {
  background: #0b0d1cc9;
  opacity: 1;
}

.media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr 1fr 1fr;
      grid-template-columns: auto 1fr 1fr 1fr;
  gap: 3vmax;
  margin-bottom: 10vh;
}

.media li {
  border: 1px solid rgba(92, 92, 92, 0.22);
  -webkit-filter: drop-shadow(0 1px 3px rgba(100, 46, 15, 0.1));
          filter: drop-shadow(0 1px 3px rgba(100, 46, 15, 0.1));
}

.media .medium {
  margin: auto;
  background: #fffbffe0;
  display: -ms-grid;
  display: grid;
  font-size: 1.5vmax;
  padding: 1vmin;
  font-family: 'Chakra Petch';
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2px;
}

.media .medium p {
  padding: 0;
}

.media .medium span {
  padding: 0 .5vw;
  border-bottom: 1px solid rgba(128, 128, 128, 0.233);
}

.media .overlay {
  padding: 1vw;
}

.paint {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

iframe {
  width: 100%;
}

.gallery ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 4fr 2fr 3fr 3fr 5fr 2fr 1fr 1fr 1fr 1fr 3fr 3fr 1fr 2fr 1fr 3fr 3fr 1fr;
      grid-template-columns: 2fr 4fr 2fr 3fr 3fr 5fr 2fr 1fr 1fr 1fr 1fr 3fr 3fr 1fr 2fr 1fr 3fr 3fr 1fr;
  -ms-grid-rows: 7fr 2fr 7fr 2fr 3fr 5fr 2fr 3fr 3fr 4fr 3fr 1fr 3fr 5fr 2fr 2fr 5fr 4fr 2fr 4fr 3fr 4fr 2fr 3fr 3fr 2fr 2fr 3fr 2fr 8fr 1fr 2fr 12fr;
      grid-template-rows: 7fr 2fr 7fr 2fr 3fr 5fr 2fr 3fr 3fr 4fr 3fr 1fr 3fr 5fr 2fr 2fr 5fr 4fr 2fr 4fr 3fr 4fr 2fr 3fr 3fr 2fr 2fr 3fr 2fr 8fr 1fr 2fr 12fr;
  width: 100%;
  min-height: 200vh;
  margin: 75px 0;
}

.gallery ul li {
  min-width: 10px;
  min-height: 10px;
  border-radius: 1px;
  border: 3px solid #6633BF;
  background-size: contain;
  background-position: center;
}

.gallery ul li:first-child {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 1 / 1 / 1 / 9;
  background-image: url(../assets/simpson.jpg);
}

.gallery ul li:nth-child(2) {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-area: 3 / 1 / 4 / 9;
  background-image: url(../assets/Gutenberg.jpg);
}

.gallery ul li:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 12;
  -ms-grid-column-span: 3;
  grid-area: 1 / 12 / 5 / 15;
  background-image: url(../assets/holzer.jpg);
}

.gallery ul li:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 16;
  -ms-grid-column-span: 4;
  grid-area: 1 / 16 / 5 / 20;
  background-image: url(../assets/score.jpeg);
}

.gallery ul li:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 5 / 1 / 9 / 4;
  background-image: url(../assets/somBMA.jpg);
  background-size: contain;
}

.gallery ul li:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-area: 5 / 5 / 8 / 9;
  background-image: url(../assets/sharits.jpg);
  background-size: cover;
}

.gallery ul li:nth-child(7) {
  -ms-grid-row: 6;
  -ms-grid-row-span: 2;
  -ms-grid-column: 11;
  -ms-grid-column-span: 9;
  grid-area: 6 / 11 / 8 / 20;
  background-image: url(../assets/becher.jpg);
}

.gallery ul li:nth-child(8) {
  -ms-grid-row: 10;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: 10 / 2 / 13 / 4;
  background-image: url(../assets/ledger.jpeg);
}

.gallery ul li:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 2;
  grid-area: 9 / 5 / 13 / 7;
  background-image: url(../assets/ChicagoStone.jpg);
  background-size: contain;
}

.gallery ul li:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 7;
  -ms-grid-column: 9;
  -ms-grid-column-span: 6;
  grid-area: 9 / 9 / 16 / 15;
  background-image: url(../assets/manzoniAchrome.jpg);
}

.gallery ul li:nth-child(11) {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 16;
  -ms-grid-column-span: 4;
  grid-area: 9 / 16 / 12 / 20;
  background-image: url(../assets/LA.jpg);
  background-size: cover;
}

.gallery ul li:nth-child(12) {
  -ms-grid-row: 16;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 4;
  grid-area: 16 / 2 / 19 / 6;
  background-image: url(../assets/whiteread.jpg);
  background-size: cover;
}

.gallery ul li:nth-child(13) {
  -ms-grid-row: 17;
  -ms-grid-row-span: 2;
  -ms-grid-column: 7;
  -ms-grid-column-span: 12;
  grid-area: 17 / 7 / 19 / 19;
  background-image: url(../assets/deMaria.jpg);
  background-size: cover;
}

.gallery ul li:nth-child(14) {
  -ms-grid-row: 20;
  -ms-grid-row-span: 6;
  -ms-grid-column: 16;
  -ms-grid-column-span: 4;
  grid-area: 20 / 16 / 26 / 20;
  background-image: url(../assets/gallagher.jpg);
  background-size: contain;
}

.gallery ul li:nth-child(15) {
  -ms-grid-row: 20;
  -ms-grid-row-span: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 20 / 1 / 24 / 7;
  background-image: url(../assets/playtime.jpg);
  background-size: cover;
  background-position: left;
}

.gallery ul li:nth-child(16) {
  -ms-grid-row: 21;
  -ms-grid-row-span: 2;
  -ms-grid-column: 9;
  -ms-grid-column-span: 6;
  grid-area: 21 / 9 / 23 / 15;
  background-image: url(../assets/excel.jpg);
  background-size: cover;
  background-position: left;
}

.gallery ul li:nth-child(17) {
  -ms-grid-row: 25;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 6;
  grid-area: 25 / 1 / 27 / 7;
  background-image: url(../assets/araeenChaarYaar.jpg);
  background-size: contain;
}

.gallery ul li:nth-child(18) {
  -ms-grid-row: 24;
  -ms-grid-row-span: 2;
  -ms-grid-column: 8;
  -ms-grid-column-span: 6;
  grid-area: 24 / 8 / 26 / 14;
  background-image: url(../assets/flavinHaroldJoachim.jpg);
  background-size: cover;
}

.gallery ul li:nth-child(19) {
  -ms-grid-row: 29;
  -ms-grid-row-span: 3;
  -ms-grid-column: 4;
  -ms-grid-column-span: -2;
  grid-area: 29 / 4 / 32 / 2;
  background-image: url(../assets/martin.jpg);
  background-size: cover;
}

.gallery ul li:nth-child(20) {
  -ms-grid-row: 28;
  -ms-grid-row-span: 4;
  -ms-grid-column: 5;
  -ms-grid-column-span: 7;
  grid-area: 28 / 5 / 32 / 12;
  background-image: url(../assets/Superstudio.jpg);
  background-size: cover;
}

.gallery ul li:nth-child(21) {
  -ms-grid-row: 30;
  -ms-grid-row-span: 2;
  -ms-grid-column: 13;
  -ms-grid-column-span: 6;
  grid-area: 30 / 13 / 32 / 19;
  background-image: url(../assets/hesse.jpeg);
  background-size: contain;
}

.gallery ul li:nth-child(22) {
  -ms-grid-row: 33;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 19;
  grid-area: 33 / 1 / 34 / 20;
  background-image: url(../assets/2001Frame.jpg);
  background-size: cover;
  min-height: 400px;
  background-position: bottom;
}

.gallery ul li:nth-child(23) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  -ms-grid-column: 16;
  -ms-grid-column-span: 4;
  grid-area: 14 / 16 / 15 / 20;
  background-image: url(../assets/johns.jpg);
  background-size: contain;
}

.gallery ul li:nth-child(24) {
  -ms-grid-row: 14;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  grid-area: 14 / 1 / 15 / 8;
  background-image: url(../assets/schoonhoven.jpg);
  background-size: contain;
}

.gallery ul li:nth-child(25) {
  -ms-grid-row: 27;
  -ms-grid-row-span: 2;
  -ms-grid-column: 13;
  -ms-grid-column-span: 6;
  grid-area: 27 / 13 / 29 / 19;
  background-image: url(../assets/ryman.jpg);
  background-size: contain;
}

body {
  background-size: 33.3%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe6e67d), to(rgba(188, 168, 243, 0.1))), url(../assets/MartinClearDay.jpeg);
  background-image: linear-gradient(180deg, #ffe6e67d, rgba(188, 168, 243, 0.1)), url(../assets/MartinClearDay.jpeg);
  font-size: 62.5%;
}

.wrapper {
  max-width: 90%;
  margin: 0 auto;
}

img {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  background: transparent;
  outline: none;
  border: none;
  font-family: 'Chakra Petch', Helvetica, Trebuchet;
  font-size: 14px;
  line-height: 1.2;
  text-decoration: none;
}

button span {
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  background: rgba(0, 0, 0, 0.6);
  width: 20px;
  padding: 2px;
}

button span:hover {
  background: white;
}

h3 em {
  border: 1px solid rgba(139, 139, 139, 0.2);
  padding: 0 1vmax;
  background: rgba(255, 255, 255, 0.5);
  font-style: normal;
}

em,
.higgins {
  font-style: italic;
}

nav {
  color: #2e0e4c;
  font-size: 16px;
  border-bottom: 1px solid #ebdcd7;
  text-align: right;
  padding: 4px 0;
}

.higgins {
  font-style: italic;
  color: #3d063d;
  padding: 3vmin 6vmin;
  border: none;
  line-height: 1.7;
}

.what em {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: #12123918;
}

.gallery em {
  background: rgba(45, 39, 66, 0.5);
}

header {
  height: 90vmin;
}

.title {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20vw, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  gap: 5vw;
  margin-top: 7vh;
  text-transform: uppercase;
}

.buffer {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2fr 4fr 6fr 9fr 13fr 18fr 24fr 31fr 39fr 48fr;
      grid-template-rows: 2fr 4fr 6fr 9fr 13fr 18fr 24fr 31fr 39fr 48fr;
  height: 160px;
}

.buffer span {
  border-bottom: 2px solid #684b97;
  display: block;
}

.buffer span:first-child {
  opacity: .15;
}

.buffer span:nth-child(2) {
  opacity: .2;
}

.buffer span:nth-child(3) {
  opacity: .25;
}

.buffer span:nth-child(4) {
  opacity: .35;
}

.buffer span:nth-child(5) {
  opacity: .4;
}

.buffer span:nth-child(6) {
  opacity: .45;
}

.buffer span:nth-child(7) {
  opacity: .5;
}

.buffer span:nth-child(8) {
  opacity: .7;
}

.buffer span:nth-child(9) {
  opacity: .8;
}

.buffer span:nth-child(10) {
  opacity: 1;
}

.bufferTwo {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.why {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%, #f9ebe52a), color-stop(30%, rgba(255, 255, 255, 0.6)), color-stop(70%, rgba(255, 255, 255, 0.5)), to(#f9ebe511)) 100%;
  background: linear-gradient(180deg, #f9ebe52a 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.5) 70%, #f9ebe511) 100%;
}

.fourCorners {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 3vw;
  margin-top: 5%;
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 2, 0.3));
          filter: drop-shadow(0 1px 1px rgba(0, 0, 2, 0.3));
}

.fourCorners li {
  min-height: 28vw;
}

.fourCorners p {
  margin: 0;
  padding: 30px;
  line-height: 1.4;
}

.alberti {
  background-image: url(../assets/alberti.jpeg);
  background-size: contain;
  background-position: center;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.albertiP {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 4;
}

.durerP {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.durer {
  background-image: url(../assets/Durer.jpeg);
  background-size: contain;
  background-position: center;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
}

.mondrian {
  background-image: url(../assets/MondrianStillLife.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #999999;
}

.mondrian2 {
  background-image: url(../assets/MondrianPier.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #ABA3A5;
}

.mondrian3 {
  background-image: url(../assets/MondrianComposition.jpg);
  background-size: contain;
}

.SLW {
  background: url(../assets/leWittRed.jpg);
  background-size: contain;
}

.SLW2 {
  background: url(../assets/leWittPatchwork.jpg);
  background-size: contain;
}

.SLW3 {
  background: url(../assets/solLewittCube.jpg);
  background-size: contain;
  background-position: center;
}

.fgt {
  background: url(../assets/fgt.jpg);
  background-size: contain;
}

.kim {
  background: url(../assets/kim.jpg);
  background-size: contain;
}

.hatoum {
  background: url(../assets/hatoumInterior.jpg);
  background-size: contain;
}

.bodyTwo {
  background-size: 33.3%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #11110e12), to(#0e0e21b0)), url(../assets/MartinInverse.jpeg);
  background-image: linear-gradient(180deg, #11110e12 30%, #0e0e21b0), url(../assets/MartinInverse.jpeg);
}

.bridge {
  background: -webkit-gradient(linear, left top, left bottom, from(#eee8df), color-stop(30%, #eee8df7a), color-stop(90%, #0b0e1b00));
  background: linear-gradient(180deg, #eee8df, #eee8df7a 30%, #0b0e1b00 90%);
}

.what,
.what a,
.gallery,
.furtherResources {
  color: #ffffff;
}

.what p,
.what img,
.what a p,
.what a img,
.gallery p,
.gallery img,
.furtherResources p,
.furtherResources img {
  background: #1515246c;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.furtherResources p {
  margin: 0;
  background: transparent;
  border: none;
  padding-bottom: 75px;
}

footer {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0E0E21), color-stop(#cec9b39c), to(#cec9b300)), url(../assets/supersurface.jpg);
  background-image: linear-gradient(180deg, #0E0E21, #cec9b39c, #cec9b300), url(../assets/supersurface.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
}

@media (max-width: 512px) {
  .subHeading {
    -ms-grid-columns: (minmax(20px, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
  }
}
