$backgroundColour: rgba(255, 255, 255, 0.75);
$primaryColour: #fa4d18;
$lightPrimary: rgb(250, 133, 0);
$secondaryColour: #251dc4dc;
$highlightColour: #db0e86dc;

@mixin flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

// Global Layout ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapperNav {
  width: 88%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 5px;
}

section {
  margin-bottom: 3vh;
}

// .filler {
//   padding: 30px 0;
// }

.fillerBox {
  padding: 30px 10px;
}

a {
  padding: 0;
}

.blueBox {
  background-color: $secondaryColour;
  border-radius: 5px;
}


// Sidebar Nav ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// .margin {
//   @include flex;
//   flex-direction: column;
//   justify-content: start;
//   word-break: break-all;
//   right: 30px;
//   top: 0px;
//   width: 25px;
//   height: 100vh;
//   position: fixed;
// }


.hamburgerMenu {
  position: fixed;
  top: 10px;
  right: -1500px;
  background: linear-gradient(-30deg, #cfdcf0, #eeecec);
  border: 1px solid #d0ddf0;
  padding: 25px;
  width: calc(100% - 20px);
  height: calc(100vh - 20px);
  border-radius: 5px;
  transition: .5s ease;
  height: 0%;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
}

.hamburgerFace {
  width: 45%;
  position: absolute;
  top: 10px;
  left: 10px;
  animation: spin 30s linear infinite;
}


// Landing Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.landing {
  @include flex;
  justify-content: center;
  padding-top: 50px;
  margin-bottom: 7vh;
}

.landingLeftColumn {
  @include flex;
  flex-direction: column;
  min-width: 405px;
  width: 50%;
  margin-right: 26px;
    img {
    max-width: 470px;
    animation: spin 30s linear infinite;
  }
    i {
      display: none;
    }
}


@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(-360deg);
  }
}


.landingRightColumn {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 345px;
  margin-top: 10px;
    span {
      display: block;
    }
}

.titles {
  @include flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  max-width: 240px;
}

.aboutContainer {
  display: flex;
  flex-wrap: wrap-reverse;
}




// About ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.hi {
  background-color: $secondaryColour;
  color: #fff;
  font-size: 2rem;
  width: 100%;
  border-radius: 5px;
  min-height: 100px;
  padding: 50px;
  text-align: center;
}

.bio {
  width: 60%;
  margin-right: 20px;
}

.dashes {
  width: 60%;
}

.about img {
  border-radius: 50%;
  border: 2px solid $secondaryColour;
  padding: 3px;
  width: 280px;
  height: 280px;
  margin: auto;
}



// Web Development ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.item {
  @include flex;
  flex-direction: column;
}

.itemName {
  font-size: 1.3rem;
  color: #fff;
  padding-top: 10px;
}

.iconQuarter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

.pngIconBox {
  width: 50px;
  padding: 10px;
  img {
    width: 30px;
  }
}


.icons {
  @include flex;
  padding: 0 25px 25px 25px;
}

.vertical {
  display: none;
}



// Web Projects ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.wp { 
  margin: 1px 0;
}

.projectModal {
  background-color: #fff;
  width: 100%;
  min-height: 370px;
  margin: 0 auto;
  padding-left: 180px;
  border-bottom: 2px solid #2D26C5;
  background-image: url(../assets/digIll/hiWorld.png);
  background-repeat: no-repeat;
  background-size: 400px;
  background-position-x: 60%;
  background-position-y: 50%;
  position: relative;
}

.hiWorld {
  width: 80%;
  padding: 160px 130px 100px 70px;
}


// Projects ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.project {
  display: flex;
}

.projectBox {
  background-color: #fff;
  padding: 25px 45px 25px 5px;
  display: none;
}

.projectTitle {
  @include flex;
  justify-content: flex-start;
}

.projectBox a i,
.projectBox a {
      color: $secondaryColour;
    }


.iconMap {
  display: flex;
  align-items: center;
  margin: 0 60px 0 25px;
}

.screenshots {
  margin-right: 30px;
  width: 280px;
  min-width: 230px;
    img {
      border-radius: 2px;
      border: 1px dotted #2e26c550;
      padding: 5px;
    }
}

.projectRightColumn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 67%;
}


// Graphics ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.compress {
  margin: -5px 0;
}

.expandCollapse {
  @include flex;
  justify-content: space-around;
  width: 300px;
  margin: 0 auto;
}

.designIll {
  display: flex;
  justify-content: space-between;
}

.design,
.illustration {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-radius: 5px;
  width: 49.5%;  
}

.white {
  background-color: #fff;
  height: 100%;
  border-bottom: 2px solid $secondaryColour;
}

.ill {
  padding-top: 15px;
  @include flex;
 
}

.box {
  border-bottom: 3px dotted $primaryColour;
  margin: 0px 25px 0px 25px;
  padding: 40px 0 30px 0;
    p {
      padding: 0 0;
      box-shadow: none;
      background-color: transparent;
      margin-bottom: -5px;
    }
    img {
      width: 49.5%;
      border: 1px dotted #2e26c550;
      border-radius: 2px;
      margin: 2% 0;
      padding: 5px;
      transition: .3s linear;
    }
}

div .box:last-child {
  border-bottom: none;
}

.contact {
  margin-top: 30px;
}

.contactBox {
  @include flex;
  justify-content: space-evenly;
  padding: 40px;
  // margin-top: 30px;
}

.contact p {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

footer {
  margin-top: 8vh;
  padding: 10px 0;
  background-color: $secondaryColour;
}
