@media(max-width: 1187px) {

  .landingLeftColumn {
    height: 682px;
  }

  h1 {
    padding-bottom: 30px;
  }

  .hi {
    padding: 40px;
  }

  p {
    font-size: 1.7rem;
  }

  .res P {
    font-size: 1.9rem;
    padding-right: 7px;
  }

  .res .cv {
    font-size: 1.4rem;
    padding: 0 2px 0 6px;
  }

    .projectModal {
    background-position-x: 70%;
    }
}

@media(max-width: 1080px) {

  .icons {
    padding: 0 50px 25px 50px;
  }

  .vertical {
    display: flex;
  }

  .horizontal {
    display: none;
  }
}



// 862 / Tablet =================================

@media(max-width: 862px) {

  .landing {
  padding-top: 25px;
  }

  h1 {
    padding-bottom: 10px;
  }

  h2{
    font-size: 3.1rem;
  }

  .landingLeftColumn {
    margin: 0 13px;
    min-width: 350px;
    height: auto;
    i {
      // display: block;
      color: $secondaryColour;
      margin: 40px 0;
      padding: 5px 6px 1px 5px;
      border-radius: 50%;
      transition: .1s ease-in;
        &:hover,
        &:focus {
          color: #fff;
          background-color: $secondaryColour;
        }
      }
      img {
        width: 95%;
        margin: 10px 0;
    }
  }

  .roles {
    padding: 35px 0 20px 20px;
    width: 90%;
    margin: 0 auto;
  }

  .landingRightColumn {
    width: 47%;
     ul {
    display: none;
  }
}

  .wrapperNav {
    width: 90%;
    padding-right: 6px;
  }

  .hamburger {
    display: block;
  }

  ul .dash {
    padding: 15px 5px;
  }

  h3 {
    font-size: 4rem;
  }

  .landing {
    margin-bottom: 0;
  }

  .headBand span {
    font-size: 2rem;
  }

  .about img {
    margin: 15px auto;
  }

  .bio {
    width: 100%;
    margin: 30px 0 0 0;
  }

  .hi,
  .res p {
    // padding: 35px;
    font-size: 1.8rem;
  }

  .res {
    // padding: 0 0 4px 0;
    line-height: 1;
  }

  p {
  font-size: 1.6rem;
  }

  .planes {
    width: 65px;
    text-align: center;
  }

  h4 {
    font-size: 3rem;
  }

  .projectModal {
    background-position-x: 85%;
    background-size: 60%;
  }

  .designIll {
    flex-direction: column;
  }

  .design,
  .illustration {
    width: 100%;
  }

  .icons {
    padding: 0 35px 25px 35px;
  }

  .hide {
    display: none;
  }
}



@media(max-width: 700px) {

  .projectBoxImg {
    width: 100%;
    max-width: 320px;
  }

  .projectModal p {
    display: inline-block;
    width: 100%;
  }

  .hamburger {
    font-size: 2.2rem;
    top: -3px;
    right: -3px;
  }
}


// 550 / Mobile =================================

@media(max-width: 550px) {

  .landingLeftColumn img {
      width: 85%;
  }

  .webDevelopment .headBand {
    width: 90%;
    margin: 0 auto;
    line-height: 1.3;
    text-align: center;
  }

  .vertical {
    display: none;
  }

  .grid {
    display: flex;
    flex-direction: column;
  }

  .iconQuarter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 90px;
    width: 100%;
    margin: 15px 0;
}

  .icons {
    padding: 0 25px 25px 25px;
  }

   .projectModal {
    background-position-x: 50%;
    background-position-y: 90%;
    background-size: 60%;
    padding-left: 25px;
    min-height: 540px;
      ul {
        display: flex;
        flex-direction: column;
        width: 250px;
        position: static;
        margin: 0 auto;

      }
  }

  .projectBox {
    text-align: center;
    padding: 0 25px 25px 0;
  }

  .projectBoxImg {
    margin: 0 0 15px 0;
    width: 100%;
    float: none;
  }

  .iconMap {
    justify-content: center;
  }

    .hamburger {
    font-size: 2rem;
    }

    .filler {
      font-size: 2rem;
      padding: 20px 0;
    }
}


@media(max-width: 450px) {

  h1 {
    font-size: 3.5rem;
    padding-bottom: 15px;
  }
  
  .landingLeftColumn {
    min-width: 0;
    width: 100%;
      img {
      width: 75%;
  }
}

  .roles {
    width: 75%;
    margin-left: 12%;
  }

   h2 {
    font-size: 2.3rem;
  }

  .landingRightColumn {
    min-width: 0;
    width: 100%;
      span {
      font-size: 1.5rem;
    }
  }

  .about img {
    width: 80%;
    height: 80%;
  }

  p,
  .contact span a{
    font-size: 1.4rem;
  }

  .res p {
    font-size: 1.5rem;
    padding: 10px;
    text-align: left;
  }

  .planes {
    margin-right: 25px;
  }

  .pBackground {
    padding: 12px 15px 15px 15px;
    margin: 4px 0;
  }

  h3 {
    font-size: 3.5rem;
  }

  .headBand span {
    font-size: 1.6rem;
  }

  .hide2 {
    display: none;
  }

  h4 {
    font-size: 2.7rem;
  }

  .hamburger {
    font-size: 1.8rem;
    top: -5px;
    right: -5px;
  }

  .projectModal {
    min-height: 510px;
  }

  .box a {
    width: 90%;
    margin: 10px auto;

  }

  .filler {
    font-size: 1.7rem;
    padding: 20px;
  }

  .fillerBox {
    padding: 20px 10px;
  }

  .contactBox i,
  .contactBox img {
    font-size: 3rem;
    height: 28px;
    width: 28px;
  }

  footer p {
    font-size: 1.3rem;
  }
}

@media(max-width: 350px) {

  .wrapperNav {
    width: 90%;
    padding-right: 10px;
  }

  .hamburger {
    font-size: 1.7rem;
    top: -4px;
    right: -4px;
    }

  h1 {
    font-size: 3.1rem;
  }

  h2 {
    font-size: 2.1rem;
  }

  h3 {
    font-size: 3.2rem;
  }

  .item i {
    font-size: 3rem;
  }

  .itemName {
    font-size: 1.2rem;
  }

  .pngIcon {
    height: 30px;
    width: 32px;
  }

  .planes {
    margin-right: 5px;
  }

  .contactBox {
    padding: 25px;
  }
}

