@media(max-width: 1187px) {


  h1 {
    padding-bottom: 30px;
  }

  .hi {
    padding: 40px;
  }

  p {
    font-size: 1.7rem;
  }

  .res P {
    font-size: 1.9rem;
    padding-right: 7px;
  }

  .res .cv {
    font-size: 1.4rem;
    padding: 0 2px 0 6px;
  }
}

@media(max-width: 1080px) {

  .icons {
    padding: 0 50px 25px 50px;
  }

  .vertical {
    display: flex;
  }

  .horizontal {
    display: none;
  }
}

// Tablet

@media(max-width: 862px) {

  .landing {
  padding-top: 25px;
  }

  h1 {
    padding-bottom: 25px;
  }

  h2{
    font-size: 3.1rem;
  }

  .landingLeftColumn {
    margin: 0 13px;
    min-width: 350px;
    i {
      // display: block;
      color: $secondaryColour;
      margin: 40px 0;
      padding: 5px 6px 1px 5px;
      border-radius: 50%;
      transition: .1s ease-in;
        &:hover,
        &:focus {
          color: #fff;
          background-color: $secondaryColour;
        }
    }
  }

  .roles {
    padding: 25px 0 20px 20px;
  }

  .landingRightColumn ul {
    display: none;
  }

  .hamburger i {
    display: block;
  }

  li, ul .dash {
    padding: 15px 5px;
  }

  h3 {
    font-size: 4rem;
  }

  .landing {
    margin-bottom: 0;
  }

  .headBand span {
    font-size: 2rem;
  }

  // .filler {
  //   padding: 20px 0;
  // }

  // .fillerBox {
  //   padding: 0 15px;
  // }

  .about img {
    margin: 15px auto;
  }

  .bio {
    width: 100%;
    margin: 30px 0 0 0;
  }

  .hi,
  .res p {
    // padding: 35px;
    font-size: 1.8rem;
  }

  .res {
    // padding: 0 0 4px 0;
    line-height: 1;
  }

  p {
  font-size: 1.6rem;
  }

  .planes {
    width: 70px;
  }

  h4 {
    font-size: 3rem;
  }


  .projectModal {
    background-position-x: 75%;
  }

  .designIll {
    flex-direction: column;
  }

  .design,
  .illustration {
    width: 100%;
  }
   

  
}



@media(max-width: 450px) {

    h1 {
      font-size: 5rem;
    }
    .landingLeftColumn img {
      width: 50%;
    }

    p {
      font-size: 1.4rem;
    }

    .res p {
      font-size: 1.5rem;
      padding: 10px;
      text-align: left;
    }

    .pBackground {
      padding: 12px 15px 15px 15px;
      margin: 4px 0;
    }

    h3 {
      font-size: 3.5rem;
    }

    .headBand span {
    font-size: 1.6rem;
  }

}