@media(max-width: 1187px) {

  h1 {
    padding-bottom: 30px;
  }

}



@media(max-width: 859px) {


  .landingLeftColumn img {
    margin: 30px 0 70px 0;
  }

  .landingRightColumn {
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
    .roles {
      width: 40%;
    }
    ul {
      padding-top: 60px;
    }
  }

}