// Global Styles

@mixin headingText ($fontSize, $colour) {
  font-family: 'Comfortaa', Helvetica;
  font-size: $fontSize;
  color: $colour;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
}

h1,
h2,
h3,
h4,
h5,
a,
nav,
li,
.headBand span,
.projectModal button,
.dash {
  @include headingText(3rem, $secondaryColour);
  font-family: 'Comfortaa', helvetica, arial;
  text-transform: uppercase;
  margin: 0;
  text-decoration: none;
  border-radius: 5px;
}

p,
button,
.itemName,
.contact span a,
.normalizeText {
  font-family: 'Quicksand';
  font-weight: 500;
  text-transform: none;
  color: $secondaryColour;
}

button {
  background: none;
  border: none;
  transition: .2s;
}


.hi span,
.contact span a {
  color: $lightPrimary;
  font-weight: 400;
}

h3 {
  font-size: 5rem;
  text-align: center;
}

.headBand,
.filler {
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px 0;
}

.filler {
  color: $highlightColour;
  opacity: .4;
  padding: 40px 0;
}

h4 {
  font-size: 3.5rem;
  padding: 25px;
  color: #fff;
  text-align: center;
}

h5 {
  font-size: 2rem;
  color: $secondaryColour;
  padding-left: 25px;
  line-height: 1.3;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

// Landing Page ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

h1 {
  font-size: 6.5rem;
  padding-bottom: 50px;
  text-align: center;
  line-height: 1.4;
}

h2,
.landingRightColumn span {
  list-style: none;
  font-size: 3.3rem;
  padding-bottom: 3px;
  line-height: 1.3;
}

ul {
  text-align: right;
  padding-top: 40px;
  width: 100%;
}

li, 
ul .dash {
  font-size: 2.5rem;
  color: $primaryColour;
  padding: 5px;
  line-height: 1.1;
  transition: .2s;
}

.link:hover,
.link:focus {
  color: $secondaryColour;
  background: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0.7));
  border-radius: 2px;
}

.hamburger {
  color: $primaryColour;
  font-size: 2.5rem;
  padding: 10px 10px 15px 15px;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  z-index: 10;
}

.hamburgerLi li:hover,
.hamburgerLi li:focus {
  background: linear-gradient(270deg, #fff 15%, rgba(255, 255, 255, 0) 70%);
}


// .mysteryLink i {
//   color: rgb(230, 7, 182);
//   font-size: 2rem;
//   padding: 10px;
//   position: absolute;
//   top: 0;
//   right: 10px;
//   transition: ease-out .3s;
// }

// .mysteryLink i:hover,
// .mysteryLink i:focus {
//   color: rgb(141, 7, 230);
//   transform: rotate(180deg);
// }


// About ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

p, 
.res,
.resP,
.cv,
.contact span a {
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: justify;
  font-weight: 500;
  text-transform: none;
}

.pBackground {
  background-color: rgba(255, 255, 255, 95%);
  padding: 17px 25px 25px 25px;
  margin: 8px 0;
  box-shadow: -2px 1px 1px #0015d375;
  border-radius: 5px;
}


.hi span {
  color: $lightPrimary;
}

.pBackground span {
  color: $primaryColour;
}


.res {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $secondaryColour;
    p {
    font-size: 2.1rem;
    padding-right: 10px;
    }
    .cv {
      font-size: 1.5rem;
      padding: 0 10px;
    }
    i {
    font-size: 2rem;
    padding: 6px 7px 5px 5px;
    border-radius: 3px;
    transition: .05s ease-in;
    color: $primaryColour;
      &:hover,
      &:focus {
      color: #fff;
      background-color: $secondaryColour;
     }
    }
}

.cv {
  padding: 0 15px 0 0;
  text-transform: none;
  background-color: transparent;
  box-shadow: none;
}


// Web Dev ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


i {
  font-size: 4rem;
  color: #fff;
}

.pngIcon {
  height: 40px;
  width: 43px;
}

.itemName {
  color: #fff;
}

.wp h3 {
  padding: 25px;
  color: #fff;
}

.projectModal {
  h5 {
    font-size: 3rem;
    padding: 5px;
    color: $secondaryColour;
    margin: 0 20px 2px 20px;
    text-align: center;
  }
    span,
    button {
      font-size: 1.6rem;
      text-align: left;
      color: $primaryColour;
      padding: 15px;
  }
  p {
    font-size: 1.6rem;
    text-align: left;
    padding: 7px 0;
  }
    li i {
      font-size: 2rem;
      padding: 10px 10px 10px 40%;
      text-align: left;
      color: $primaryColour;
    }
    ul {
      text-align: left;
      padding: 10px;
      width: 170px;
      position: absolute;
      left: 0;
    }
}

.normalizeText {
  font-size: 1.6rem;
  color: $primaryColour;
  padding: 0 3px;
  border-radius: 1px;
}

.projectModal button {
  margin: 2px 0;
  text-align: left;
  color: $primaryColour;
  padding: 10px;
  background-color: rgba(255, 255, 255, 95%);
  border-radius: 2px;
    &:hover,
    &:focus {
      color: #fff;
      background-color: $secondaryColour;
    }
}

.projectTitle i,
.pngIconBox {
  font-size: 2.8rem;
  color: $primaryColour;
  padding: 10px 10px 20px 10px;
  border-radius: 3px;
}

.click {
  position: relative;
}

.arrow {
  position: absolute;
  padding: 2.5px 3px 2.3px 3px;
}

.arrow:hover,
.arrow i:hover,
.arrow:focus,
.arrow i:focus,
.normalizeText:hover,
.normalizeText:focus {
  color: #fff;
  background-color: $secondaryColour;
  border-radius: 3px;
}

.box a {
  font-size: 1.5rem;
  color: $primaryColour;
  text-transform: none;
}

// Design + Illustration ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ //

.designIll h3 {
  padding: 30px 25px;
  color: #fff;
}



.arrow i,
.expandCollapse button,
.expandCollapse i {
  font-size: 1.8rem;
  color: $secondaryColour;
  text-transform: none;
}


.contact p {
  padding: 20px 0;
}

.contact h3,
.contact p,
.contact .headBand span {
  color: #fff;
}

footer p {
  color: #fff;
  font-size: 1.5rem;
}
