// COLORS
$pink: #d81b60;
$grey: #aeb1b9;
$black: #000f20;
$white: #ffffff;

// FUN FUN FUNCTIONS
// http://sass-lang.com/documentation/Sass/Script/Functions.html

// MIXINS

@mixin colors ($background, $color) {
  background: $background;
  color: $color;
}

@mixin padding-margin ($padding, $margin) {
  padding: $padding;
  margin: $margin;
}

@mixin fontSize($sizeValue) {
  font-size: $sizeValue * 1px;
  font-size: ($sizeValue/10) * 1rem;
}

@mixin flex ($flexflow, $justify-content, $align-content) {
  display: flex;
  flex-flow: $flexflow;
  justify-content: $justify-content;
  align-content: $align-content
}

