a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio, canvas, video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button, select {
  text-transform: none;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html, input, select, textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: .2em 0;
  background: #ccc;
  color: #000;
  padding: .2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

.wrapperNav {
  width: 88%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 5px;
}

section {
  margin-bottom: 3vh;
}

.fillerBox {
  padding: 30px 10px;
}

a {
  padding: 0;
}

.blueBox {
  background-color: #251dc4dc;
  border-radius: 5px;
}

.ghostMargin {
  margin-bottom: 0;
}

.hamburgerMenu {
  position: fixed;
  top: 5px;
  right: -1500px;
  background: linear-gradient(-30deg, #cfdcf0, #eeecec);
  border: 1px solid #d0ddf0;
  padding: 25px;
  width: calc(100% - 10px);
  height: calc(100vh - 10px);
  border-radius: 5px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  height: 0%;
  overflow: hidden;
  z-index: 10;
  opacity: 0;
}

.hamburgerFace {
  width: 45%;
  position: absolute;
  top: 25px;
  left: 25px;
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
}

.landing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 50px;
  margin-bottom: 7vh;
}

.landingLeftColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  min-width: 405px;
  width: 50%;
  margin-right: 26px;
}

.landingLeftColumn img {
  max-width: 470px;
  -webkit-animation: spin 30s linear infinite;
          animation: spin 30s linear infinite;
  overflow: hidden;
}

.landingLeftColumn i {
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

.landingRightColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  min-width: 345px;
  margin-top: -7px;
}

.landingRightColumn span {
  display: block;
}

.titles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  max-width: 240px;
}

.aboutContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.hi {
  background-color: #251dc4dc;
  color: #fff;
  font-size: 2rem;
  width: 100%;
  border-radius: 5px;
  min-height: 100px;
  padding: 50px;
  text-align: center;
}

.bio {
  width: 60%;
  margin-right: 20px;
}

.dashes {
  width: 60%;
}

.about img {
  border-radius: 50%;
  border: 2px solid #251dc4dc;
  padding: 3px;
  width: 280px;
  height: 280px;
  margin: auto;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.itemName {
  font-size: 1.3rem;
  color: #fff;
  padding-top: 10px;
}

.iconQuarter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 180px;
}

.pngIconBox {
  width: 50px;
  padding: 10px;
}

.pngIconBox img {
  width: 30px;
}

.sass {
  padding-right: 12px;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 0 25px 25px 25px;
}

.vertical {
  display: none;
}

.grid {
  display: none;
}

.wp {
  margin: 1px 0;
}

.projectModal {
  background-color: #fff;
  width: 100%;
  min-height: 370px;
  margin: 0 auto;
  padding-left: 180px;
  border-bottom: 2px solid #2D26C5;
  background-image: url(../assets/digIll/hiWorld.png);
  background-repeat: no-repeat;
  background-size: 460px;
  background-position-x: 60%;
  background-position-y: 50%;
  position: relative;
}

.hiWorld {
  width: 80%;
  padding: 160px 130px 100px 70px;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap-reverse;
      flex-wrap: wrap-reverse;
}

.projectTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}

.projectBox {
  background-color: #fff;
  padding: 25px 45px 25px 5px;
}

.projectBoxImg {
  margin: 0 30px 15px 0;
  width: 50%;
  min-width: 230px;
  border-radius: 2px;
  border: 1px dotted #2e26c550;
  padding: 5px;
  float: left;
  max-width: 280px;
}

.projectBox a i,
.projectBox a {
  color: #251dc4dc;
}

.iconMap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.compress {
  margin: -5px 0;
}

.expandCollapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 300px;
  margin: 0 auto;
}

.designIll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.design,
.illustration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
  border-radius: 5px;
  width: 49.5%;
}

.white {
  background-color: #fff;
  height: 100%;
  border-bottom: 2px solid #251dc4dc;
}

.ill {
  padding-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.box {
  border-bottom: 3px dotted #fa4d18;
  margin: 0px 25px 0px 25px;
  padding: 40px 0 30px 0;
}

.box a {
  width: 49.5%;
}

.box p {
  padding: 0 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  margin-bottom: -5px;
}

.box img {
  border: 1px dotted #2e26c550;
  border-radius: 2px;
  margin: 2% 0;
  padding: 5px;
}

div .box:last-child {
  border-bottom: none;
}

.contact {
  margin-top: 30px;
}

.contactBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 40px;
}

.contact p {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

footer {
  margin-top: 8vh;
  padding: 10px 0;
  background-color: #251dc4dc;
}

h1,
h2,
h3,
h4,
h5,
a,
nav,
li,
.headBand span,
.projectModal button,
.dash {
  font-family: 'Comfortaa', Helvetica;
  font-size: 3rem;
  color: #251dc4dc;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Comfortaa', helvetica, arial;
  text-transform: uppercase;
  margin: 0;
  text-decoration: none;
  border-radius: 5px;
}

p,
button,
.itemName,
.contact span a,
.normalizeText {
  font-family: 'Quicksand';
  font-weight: 500;
  text-transform: none;
  color: #251dc4dc;
}

.hi span,
.contact span a {
  color: #fa8500;
  font-weight: 400;
}

h3 {
  font-size: 5rem;
  text-align: center;
}

.headBand,
.filler {
  font-size: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 30px 0;
}

.filler {
  color: #db0e86dc;
  opacity: .4;
  padding: 40px 0;
}

h4 {
  font-size: 3.5rem;
  padding: 25px;
  color: #fff;
  text-align: center;
}

h5 {
  font-size: 2rem;
  color: #251dc4dc;
  padding-left: 25px;
  line-height: 1.1;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

h1 {
  font-size: 6.5rem;
  padding-bottom: 50px;
  text-align: center;
  line-height: 1.4;
}

h2,
.landingRightColumn span {
  list-style: none;
  font-size: 3.3rem;
  padding-bottom: 3px;
  line-height: 1.3;
}

ul {
  text-align: right;
  padding-top: 40px;
  width: 100%;
}

li,
ul .dash {
  font-size: 2.5rem;
  color: #fa4d18;
  padding: 5px;
  line-height: 1.1;
  -webkit-transition: .2s;
  transition: .2s;
}

.link:hover,
.link:focus {
  color: #251dc4dc;
  background: -webkit-gradient(linear, right top, left top, from(#fff), to(rgba(255, 255, 255, 0.7)));
  background: linear-gradient(270deg, #fff, rgba(255, 255, 255, 0.7));
  border-radius: 2px;
}

.hamburger i {
  color: #fa4d18;
  font-size: 2.5rem;
  padding: 10px 10px 15px 15px;
  position: fixed;
  top: 0;
  right: 0;
  display: none;
  z-index: 10;
}

.hamburgerLi li:hover,
.hamburgerLi li:focus {
  background: -webkit-gradient(linear, right top, left top, color-stop(15%, #fff), color-stop(70%, rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #fff 15%, rgba(255, 255, 255, 0) 70%);
}

p,
.res,
.resP,
.cv,
.contact span a {
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: justify;
  font-weight: 500;
  text-transform: none;
}

.pBackground {
  background-color: white;
  padding: 17px 25px 25px 25px;
  margin: 8px 0;
  -webkit-box-shadow: -2px 1px 1px #0015d375;
          box-shadow: -2px 1px 1px #0015d375;
  border-radius: 5px;
}

.hi span {
  color: #fa8500;
}

.pBackground span {
  color: #fa4d18;
}

.res {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #251dc4dc;
}

.res p {
  font-size: 2.1rem;
  padding-right: 10px;
}

.res .cv {
  font-size: 1.5rem;
  padding: 0 10px;
}

.res i {
  font-size: 2rem;
  padding: 6px 7px 5px 5px;
  border-radius: 3px;
  -webkit-transition: .05s ease-in;
  transition: .05s ease-in;
  color: #fa4d18;
}

.res i:hover, .res i:focus {
  color: #fff;
  background-color: #251dc4dc;
}

.cv {
  padding: 0 15px 0 0;
  text-transform: none;
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

i {
  font-size: 4rem;
  color: #fff;
}

.pngIcon {
  height: 40px;
  width: 43px;
}

.itemName {
  color: #fff;
}

.wp h3 {
  padding: 25px;
  color: #fff;
}

.projectModal h5 {
  font-size: 3rem;
  padding: 5px;
  color: #251dc4dc;
  margin: 0 20px 2px 20px;
  text-align: center;
}

.projectModal span,
.projectModal button {
  font-size: 1.6rem;
  text-align: left;
  color: #fa4d18;
  padding: 15px;
}

.projectModal p {
  font-size: 1.6rem;
  text-align: left;
  padding: 7px 0;
}

.projectModal li i {
  font-size: 2rem;
  padding: 10px 10px 10px 40%;
  text-align: left;
  color: #fa4d18;
}

.projectModal ul {
  text-align: left;
  padding: 10px;
  width: 170px;
  position: absolute;
  left: 0;
}

.normalizeText {
  font-size: 1.6rem;
  color: #fa4d18;
  padding: 0 3px;
  border-radius: 1px;
}

.projectModal button {
  margin: 2px 0;
  text-align: left;
  color: #fa4d18;
  padding: 10px;
  background-color: white;
  border-radius: 2px;
}

.projectModal button:hover, .projectModal button:focus {
  color: #fff;
  background-color: #251dc4dc;
}

.projectTitle i,
.pngIconBox {
  font-size: 2.8rem;
  color: #fa4d18;
  padding: 10px 10px 20px 10px;
  border-radius: 3px;
}

button {
  background: none;
  border: none;
  float: left;
  -webkit-transition: .2s;
  transition: .2s;
  padding: 2.5px 3px 2.3px 3px;
  margin-right: 5px;
}

.hamburger {
  position: absolute;
  right: -50px;
}

.arrow:hover,
.arrow i:hover,
.arrow:focus,
.arrow i:focus,
.normalizeText:hover,
.normalizeText:focus {
  color: #fff;
  background-color: #251dc4dc;
  border-radius: 3px;
}

.box a {
  font-size: 1.5rem;
  color: #fa4d18;
  text-transform: none;
}

.designIll h3 {
  padding: 30px 25px;
  color: #fff;
}

.click i,
.expandCollapse button,
.expandCollapse i {
  font-size: 1.8rem;
  color: #251dc4dc;
  text-transform: none;
}

.contact p {
  padding: 20px 0;
}

.contact h3,
.contact p,
.contact .headBand span {
  color: #fff;
}

footer p {
  color: #fff;
  font-size: 1.5rem;
}

@media (max-width: 1187px) {
  .landingLeftColumn {
    height: 682px;
  }
  h1 {
    padding-bottom: 30px;
  }
  .hi {
    padding: 40px;
  }
  p {
    font-size: 1.7rem;
  }
  .res P {
    font-size: 1.9rem;
    padding-right: 7px;
  }
  .res .cv {
    font-size: 1.4rem;
    padding: 0 2px 0 6px;
  }
  .projectModal {
    background-position-x: 70%;
  }
}

@media (max-width: 1080px) {
  .icons {
    padding: 0 50px 25px 50px;
  }
  .vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .horizontal {
    display: none;
  }
}

@media (max-width: 862px) {
  .landing {
    padding-top: 25px;
  }
  h1 {
    padding-bottom: 10px;
  }
  h2 {
    font-size: 3.1rem;
  }
  .landingLeftColumn {
    margin: 0 13px;
    min-width: 350px;
    height: auto;
  }
  .landingLeftColumn i {
    color: #251dc4dc;
    margin: 40px 0;
    padding: 5px 6px 1px 5px;
    border-radius: 50%;
    -webkit-transition: .1s ease-in;
    transition: .1s ease-in;
  }
  .landingLeftColumn i:hover, .landingLeftColumn i:focus {
    color: #fff;
    background-color: #251dc4dc;
  }
  .landingLeftColumn img {
    width: 95%;
    margin: 10px 0;
  }
  .roles {
    padding: 35px 0 20px 20px;
    width: 90%;
    margin: 0 auto;
  }
  .landingRightColumn {
    width: 47%;
  }
  .landingRightColumn ul {
    display: none;
  }
  .wrapperNav {
    width: 90%;
    padding-right: 6px;
  }
  .hamburger i {
    display: block;
  }
  ul .dash {
    padding: 15px 5px;
  }
  h3 {
    font-size: 4rem;
  }
  .landing {
    margin-bottom: 0;
  }
  .headBand span {
    font-size: 2rem;
  }
  .about img {
    margin: 15px auto;
  }
  .bio {
    width: 100%;
    margin: 30px 0 0 0;
  }
  .hi,
  .res p {
    font-size: 1.8rem;
  }
  .res {
    line-height: 1;
  }
  p {
    font-size: 1.6rem;
  }
  .planes {
    width: 65px;
    text-align: center;
  }
  h4 {
    font-size: 3rem;
  }
  .projectModal {
    background-position-x: 85%;
    background-size: 60%;
  }
  .designIll {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .design,
  .illustration {
    width: 100%;
  }
  .icons {
    padding: 0 35px 25px 35px;
  }
  .hide {
    display: none;
  }
}

@media (max-width: 700px) {
  .projectBoxImg {
    width: 100%;
    max-width: 320px;
  }
  .projectModal p {
    display: inline-block;
    width: 100%;
  }
  .hamburger i {
    font-size: 2.2rem;
    top: -3px;
    right: -3px;
  }
}

@media (max-width: 550px) {
  .landingLeftColumn img {
    width: 85%;
  }
  .webDevelopment .headBand {
    width: 90%;
    margin: 0 auto;
    line-height: 1.3;
    text-align: center;
  }
  .vertical {
    display: none;
  }
  .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .iconQuarter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 90px;
    width: 100%;
    margin: 15px 0;
  }
  .icons {
    padding: 0 25px 25px 25px;
  }
  .projectModal {
    background-position-x: 50%;
    background-position-y: 90%;
    background-size: 60%;
    padding-left: 25px;
    min-height: 540px;
  }
  .projectModal ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 250px;
    position: static;
    margin: 0 auto;
  }
  .projectBox {
    text-align: center;
    padding: 0 25px 25px 0;
  }
  .projectBoxImg {
    margin: 0 0 15px 0;
    width: 100%;
    float: none;
  }
  .iconMap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hamburger i {
    font-size: 2rem;
  }
  .filler {
    font-size: 2rem;
    padding: 20px 0;
  }
}

@media (max-width: 450px) {
  h1 {
    font-size: 3.5rem;
    padding-bottom: 15px;
  }
  .landingLeftColumn {
    min-width: 0;
    width: 100%;
  }
  .landingLeftColumn img {
    width: 75%;
  }
  .roles {
    width: 75%;
    margin-left: 12%;
  }
  h2 {
    font-size: 2.3rem;
  }
  .landingRightColumn {
    min-width: 0;
    width: 100%;
  }
  .landingRightColumn span {
    font-size: 1.5rem;
  }
  .about img {
    width: 80%;
    height: 80%;
  }
  p,
  .contact span a {
    font-size: 1.4rem;
  }
  .res p {
    font-size: 1.5rem;
    padding: 10px;
    text-align: left;
  }
  .planes {
    margin-right: 25px;
  }
  .pBackground {
    padding: 12px 15px 15px 15px;
    margin: 4px 0;
  }
  h3 {
    font-size: 3.5rem;
  }
  .headBand span {
    font-size: 1.6rem;
  }
  .hide2 {
    display: none;
  }
  h4 {
    font-size: 2.7rem;
  }
  .hamburger i {
    font-size: 1.8rem;
    top: -5px;
    right: -5px;
  }
  .projectModal {
    min-height: 510px;
  }
  .box a {
    width: 90%;
    margin: 10px auto;
  }
  .filler {
    font-size: 1.7rem;
    padding: 20px;
  }
  .fillerBox {
    padding: 20px 10px;
  }
}

@media (max-width: 350px) {
  .wrapperNav {
    width: 90%;
    padding-right: 10px;
  }
  .hamburger i {
    font-size: 1.7rem;
    top: -4px;
    right: -4px;
  }
  h1 {
    font-size: 3.1rem;
  }
  h2 {
    font-size: 2.1rem;
  }
  h3 {
    font-size: 3.2rem;
  }
  .item i {
    font-size: 3rem;
  }
  .itemName {
    font-size: 1.2rem;
  }
  .pngIcon {
    height: 30px;
    width: 32px;
  }
  .planes {
    margin-right: 5px;
  }
}

/* Global Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

.index {
  background-image: url(../assets/bg62small.jpg);
  background-size: contain;
  background-repeat: repeat;
}

/* jQuery properties */
.toggle {
  display: none;
}

.rotate {
  /* transform: rotate(180deg); */
  -webkit-transform: scaleY(-1);
          transform: scaleY(-1);
}

.sideBarNav {
  display: none;
}

.hamburgerOpen {
  display: block;
  height: calc(100% - 10px);
  right: 5px;
  opacity: 1;
}

/* End of Cascade Properties */
.clear {
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-transform: none;
  text-decoration: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
/*# sourceMappingURL=styles.css.map */