@import 'setup';
@import 'layout';
@import 'typography';
@import 'mediaQueries';

/* Global Styles ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

.index {
  background-image: url(../assets/bg62midHi.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  position: relative;
}

/* jQuery properties */

.toggle {
  display: none;
}

.rotate {
  /* transform: rotate(180deg); */
  transform: scaleY(-1);
}

.sideBarNav {
  display: none;
}

.hamburgerOpen {
  display: block;
  height: 100%;
  right: 10px;
  opacity: 1;
}


/* End of Cascade Properties */

.clear {
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-transform: none;
  text-decoration: none;
  box-shadow: none;
}