$primaryColour: rgb(250, 250, 248);
$accent: rgb(230, 196, 7);
$accent2: #ce3333;
$accent3: #df7758;
$accent4: #e79830;
$accent5: rgb(89, 206, 74);

@mixin bodyText ($fontSize) {
    font-family: 'Major Mono Display', Helvetica;
    font-size: $fontSize;
    text-decoration: none;
    // text-align: justify;
    color: $primaryColour;
    line-height: 2;
}

.accent {
  color: $accent;
}

.accent2 {
  color: $accent2;
}

.accent3 {
  color: $accent3;
}

.accent4 {
  color: $accent4;
}

.accent5 {
  color: $accent5;
  text-transform: lowercase;
}

.u {
  text-decoration: underline;
  font-size: 40px;
  transition: .05s ease-in;
}

.u:hover {
  text-transform: uppercase;
}

.small {
  font-size: 1rem;
  color: $primaryColour;
}

h1 {
  @include bodyText (40px);
  max-width: 750px;
    span {
      font-size: 54px;
      padding-bottom: 25px;
  }
}

h2 {
  @include bodyText (2.5rem);
  color: $accent;
}

h3 {
  @include bodyText (1.7rem);
  color: $accent;
}

h4 {
  @include bodyText (1.5rem);
  color: $accent;
  letter-spacing: -1px;
  line-height: 1.4;
  padding: 15px;
  text-align: center;
}


p {
  @include bodyText (35px);
  // text-transform: lowercase;
}

li {
  @include bodyText (25px);
  list-style: none;
  color: $accent;
}

li:hover {
  text-transform: uppercase;
}

.about p {
  @include bodyText(17px);
  padding-bottom: 17px;
  text-align: justify;
}

.resU {
  text-decoration: underline;
  font-size: 25px;
  transition: .05s ease-in;
}

.resU:hover {
  text-transform: uppercase;
}

.icons li,
li i {
  color: $primaryColour;
}
